<div class="about-header">
    <div class="contentRow">
        <h1 class="about-title">Om os</h1>
    </div>
</div>
<div class="about-content">
    <div class="container-fluid contentRow">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-xs-12 about-block">
                <h3>Hvem er Unifacto?</h3>
                <p>Unifacto er en studieorganisation med base i Aalborg der bringer studerende og virksomheder tættere på hinanden. I fællesskab skaber vi sammen bedre vilkår for, at studerende kan opnå studierelevant erhvervserfaring og at virksomheder får løst opgaver indenfor kommunikation og marketing. </p>
                <p>Med en grundlæggende overbevisning om, at studerende besidder en lang række kompetencer, idéer og kreative tilgange, er vi hos Unifacto sikre på, at de studerende skal være med til at skabe vækst for nuværende og fremtidens virksomheder.</p>
            </div>
            <div class="col-sm-4 col-sm-offset-2 col-xs-12 about-block">
                <h3>Hvad laver Unifacto?</h3>
                <p>Via en internetplatform, skabt af Unifacto, har virksomheder mulighed for at oplægge kommunikations- og marketingopgaver. Disse opgaver løses af studerende som derigennem opnår studierelevant erhvervserfaring. </p>
            </div>
            <div class="col-sm-4 col-xs-12 about-block">
                <h3>Hvad er vores formål?</h3>
                <p>Vores formål er at skabe en internetbaseret platform der sikre, at studerende har mulighed for at opnå studierelevant erhvervserfaring igennem løsningen af virkelige cases fra virksomheder i erhvervslivet.</p>
            </div>
        </div>
    </div>
</div>
