<div class="about-header">
    <div class="contentRow">
        <h1 class="about-title">Om os</h1>
    </div>
</div>
<div class="about-content">
    <div class="container-fluid contentRow">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-xs-12 about-block">
                <h3>Hvem er Unifacto?</h3>
                <p>Unifacto er en studieorganisation med base i Aalborg der bringer studerende og virksomheder tættere på hinanden. I fællesskab skaber vi sammen bedre vilkår for, at studerende kan opnå studierelevant erhvervserfaring og at virksomheder får løst opgaver inden for kommunikation og marketing. </p>
                <p>Med en grundlæggende overbevisning om, at studerende besidder en lang række kompetencer og har en kreativ tilgang til opgaveløsning, er vi hos Unifacto sikker på, at de studerende kan være med til at skabe vækst for nuværende og fremtidige virksomheder.</p>
            </div>
            <div class="col-sm-4 col-sm-offset-2 col-xs-12 about-block">
                <h3>Hvad laver Unifacto?</h3>
                <p>Gennem vores internetplatform, skabt af Unifacto, har virksomheder mulighed for at uploade kommunikations- og marketingopgaver. Opgaverne løses af studerende som derigennem opnår studierelevant erhvervserfaring.</p>
            </div>
            <div class="col-sm-4 col-xs-12 about-block">
                <h3>Hvad er vores formål?</h3>
                <p>Vores formål er at skabe en internetbaseret platform, der styrker båndet mellem virksomheder og studerende. Her skal studerende have mulighed for at opnå studierelevant erhvervserfaring gennem løsning af virkelige cases defineret af eksisterende virksomheder.</p>
            </div>
        </div>
    </div>
</div>

<h2 class="heading2">Holdet bag Unifacto</h2>

<div class="team-content">
    <div class="team-persons contentRow">
        <div class="team-person">
            <div class="team-person-img">
                <img src="../../../wwwroot/assets/images/dizy-cow-free-logo.jpg" />
            </div>
            <p class="team-person-name">Kristian Kraack </p>
            <p class="team-person-role">Head of Finance - Founder</p>
            <p class="team-person-contact">kristian@unifacto.com</p>
        </div>
        <div class="team-person">
            <div class="team-person-img">
                <img src="../../../wwwroot/assets/images/dizy-cow-free-logo.jpg" />
            </div>
            <p class="team-person-name">Kenneth Brogaard</p>
            <p class="team-person-role">Head of Development - Co Founder</p>
            <p class="team-person-contact">kenneth@unifacto.com</p>
        </div>
        <div class="team-person">
            <div class="team-person-img">
                <img src="../../../wwwroot/assets/images/dizy-cow-free-logo.jpg" />
            </div>
            <p class="team-person-name">Mads Bak</p>
            <p class="team-person-role">Head of Marketing and Sales</p>
            <p class="team-person-contact">mads@unifacto.com</p>
        </div>
        <div class="team-person">
            <div class="team-person-img">
                <img src="../../../wwwroot/assets/images/dizy-cow-free-logo.jpg" />
            </div>
            <p class="team-person-name">Billie Libæk</p>
            <p class="team-person-role">Administration Manager</p>
            <p class="team-person-contact">billie@unifacto.com</p>
        </div>
        <div class="team-person">
            <div class="team-person-img">
                <img src="../../../wwwroot/assets/images/dizy-cow-free-logo.jpg" />
            </div>
            <p class="team-person-name">Frederik Lund </p>
            <p class="team-person-role">Software developer</p>
            <p class="team-person-contact">frederik@unifacto.com</p>
        </div>
        <div class="team-person">
            <div class="team-person-img">
                <img src="../../../wwwroot/assets/images/dizy-cow-free-logo.jpg" />
            </div>
            <p class="team-person-name">Søren Lyng</p>
            <p class="team-person-role">Software developer</p>
            <p class="team-person-contact">soren@unifacto.com</p>
        </div>
    </div>
</div>