.about-header {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url(/assets/images/cb3.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url(/assets/images/cb3.jpg);
    background-size: cover;
    background-position: center;
    padding: 50px;
    display: flex;
    justify-content: center;
}

.about-title {
    color: white;
    font-size:450%;
    font-weight: 100;
}

.about-content {
    padding: 40px 0;
}

.about-block-title {

}

.about-block-text {

}

.team-content {
    padding: 40px 0 80px 0;
    text-align: center;
    background: -moz-linear-gradient(271deg, rgba(0,102,153,1) 0%, rgba(0,119,179,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,102,153,1)), color-stop(100%, rgba(0,119,179,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(271deg, rgba(0,102,153,1) 0%, rgba(0,119,179,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(271deg, rgba(0,102,153,1) 0%, rgba(0,119,179,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(271deg, rgba(0,102,153,1) 0%, rgba(0,119,179,1) 100%); /* ie10+ */
    background: linear-gradient(179deg, rgba(0,102,153,1) 0%, rgba(0,119,179,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006699', endColorstr='#0077b3',GradientType=0 ); /* ie6-9 */
    color: white;
}

.team-persons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.team-person {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 0 0 33.3%;
}

.team-person-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #009de6;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .team-person-img img {
        width: auto;
        height: 100%;
    }

.team-person-name {
    font-size: 125%;
    font-weight: 500;
    margin: 10px 0 0 0;
}

.team-person-role {
    font-size: 100%;
    margin: 0;
}

.team-person-contact {
    font-size: 100%;
    margin: 0;
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) and (max-width : 479px) {
    .team-person {
        flex: 0 0 100%;
    }

    .about-title {
        font-size: 260%;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) and (max-width : 767px) {
    .team-person {
        flex: 0 0 50%;
    }

    .about-title {
        font-size: 350%;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) and (max-width : 991px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
}

