.list-content {
    margin-bottom: 25px;
    height: auto;
}

.flexbox-newline {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
}

.flexitem {
    flex: 0 0 33.3%;
}