<div class="container-fluid">
    <div class="row">
        <div class="flexbox-newline list-content">
            <div class="flexitem">
                <job-card></job-card>
            </div>
            <div class="flexitem">
                <job-card></job-card>
            </div>
            <div class="flexitem">
                <job-card></job-card>
            </div>
            <div class="flexitem">
                <job-card></job-card>
            </div>
            <div class="flexitem">
                <job-card></job-card>
            </div>
            <div class="flexitem">
                <job-card></job-card>
            </div>
        </div>
    </div>
</div>