<div class="container-fluid" *ngIf="!showEdit">
    <div class="row">
        <div class="panel panel-default list-content">
            <div class="panel-body flexbox-newline">
                <div class="flexitem" *ngFor="let job of jobs">
                    
                    <job-card routerLink="/jobs/detail/{{job.id}}" job="job" style="cursor:pointer"></job-card>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" *ngIf="showEdit">
    <div class="row">
        <div class="panel panel-default list-content">
            <div class="panel-body flexbox-newline">
                <div class="flexitem" *ngFor="let job of jobs">
                    <job-card [showEdit]="true" [job]="job"></job-card>
                </div>
            </div>
        </div>
    </div>
</div>