<div class="container-fluid" *ngIf="!showEdit">
    <div class="row">
        <div class="panel panel-default list-content">
            <div class="panel-body flexbox-newline">
                <div class="flexitem">
                    <job-card routerLink="/jobs/detail" style="cursor:pointer"></job-card>
                </div>
                <div class="flexitem">
                    <job-card></job-card>
                </div>
                <div class="flexitem">
                    <job-card></job-card>
                </div>
                <div class="flexitem">
                    <job-card></job-card>
                </div>
                <div class="flexitem">
                    <job-card></job-card>
                </div>
                <div class="flexitem">
                    <job-card></job-card>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" *ngIf="showEdit">
    <div class="row">
        <div class="panel panel-default list-content">
            <div class="panel-body flexbox-newline">
                <div class="flexitem">
                    <job-card showEdit="true"></job-card>
                </div>
                <div class="flexitem">
                    <job-card showEdit="true"></job-card>
                </div>
                <div class="flexitem">
                    <job-card showEdit="true"></job-card>
                </div>
                <div class="flexitem">
                    <job-card showEdit="true"></job-card>
                </div>
                <div class="flexitem">
                    <job-card showEdit="true"></job-card>
                </div>
                <div class="flexitem">
                    <job-card showEdit="true"></job-card>
                </div>
            </div>
        </div>
    </div>
</div>