<div class="hiw-header">
    <div class="contentRow">
        <h2 class="hiw-header-title">Hvordan Unifacto virker</h2>
    </div>
</div>




<div class="hiw-content">
    <!--<div class="hiw-register contentRow">
        <div class="text">
            <h2>Oprettelse af virksomhed</h2>
            <p>Under fanen virksomhedslogin skal I trykke på opret virksomhed. Herefter skal I udfylde informationerne om jeres virksomhed, lave en virksomhedsbeskrivelse, der passer på jeres virksomhed og uploade jeres logo, så de studerende kan genkende jeres virksomhed.</p>
        </div>
        <div class="picture-box">
            <div class="picture">
                <img src="" alt="" />
            </div>
        </div>
    </div>
    <div class="hiw-tasktypes contentRow">
        <div class="picture-box">
            <div class="picture">
                <img src="" alt="" />
            </div>
        </div>
        <div class="text">
            <h2>Opgavetyper</h2>
            <p>Virksomheden kan oprette alle tænkelige opgaver, cases og problemstillinger indenfor kommunikation og marketing.</p>
            <p>Disse opgavetyper kunne for eksempel være indenfor: Strategi, SoMe, AdWords, SEO, grafik og design, video marketing, e-mail marketing, markedsundersøgelser, PR, optimering af hjemmeside eller andet.</p>
        </div>
    </div>
    <div class="hiw-work contentRow">
        <div class="text">
            <h2>Arbejdsformer</h2>
            <p>De studerende arbejder med to forskellige arbejdsformer: hjemme og ude hos virksomheden. Afhængigt af virksomhedens behov og opsatte opgave, kan de studerende arbejde på løsningforslag hjemme  eller hos virksomheden.</p>
            <p>Arbejder de studerende hjemme, fungerer de som ”studie-konsulenter”, der alle kommer med deres personlige løsningsforslag til virksomhedens opstillede kommunikations- og marketingopagve. Arbejder de studerende ude hos virksomheden, fungerer de som ”studie-konsulenter”, der ansøger om at udarbejde løsningsforlag ude hos virksomheden.</p>
        </div>
        <div class="picture-box">
            <div class="picture">
                <img src="" alt="" />
            </div>
        </div>
    </div>

    <div class="hiw-background hiw-price">
        <div class="contentRow">
            <div class="hiw-info color-white contentRow">
                <h2>Pris for at oprette opgaver</h2>
                <p>Det er gratis for virksomheder at uploade opgaver på Unifacto.com.</p>
                <h3>Belønning til studerende</h3>
                <p>Virksomheden tildeler en belønning, i form af honorar, gave eller anbefaling, til den studerende som, ifølge virksomheden, afleverer det bedste løsningsforslag. Der er dog ingen begræsning for at der udover honorar eller gave ikke også kan gives en anbefaling. Der sættes heller ikke nogen begrænsning på, at andre gode løsningsforslag ikke også kan modtage en anbefaling.</p>
            </div>
        </div>
    </div>-->

    <div class="container-fluid contentRow info-section">
        <div class="row">
            <div class="col-xs-12 text-center">
                <div class="col-sm-6 text1">
                    <h2>Oprettelse af virksomhed</h2>
                    <p>Under fanen ”Virksomhedslogin” skal I trykke på ”Opret ny virksomhed”. Herefter skal I udfylde felterne, uploade et logo samt bekræfte brugerbetingelserne, hvorefter I gratis kan begynde at uploade opgaver.</p>
                </div>
                <div class="col-sm-6">
                    <div class="img">
                        <img src="../../../wwwroot/assets/images/hiw1.jpg" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid contentRow info-section">
        <div class="row">
            <div class="col-xs-12 text-center">
                <div class="col-sm-6">
                    <div class="img">
                        <img src="../../../wwwroot/assets/images/hiw2.jpg" alt="" />
                    </div>
                </div>
                <div class="col-sm-6 text1">
                    <h2>Opgavetyper</h2>
                    <p>I kan oprette alle tænkelige opgaver inden for kommunikation og marketing.</p>
                    <p>Disse opgavetyper kunne eksempelvis være inden for branding, events, grafik og design, markeds- og målgruppeanalyse, online marketing og kommunikation samt tekstforfatning.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid contentRow info-section">
        <div class="row">
            <div class="col-xs-12 text-center">
                <div class="col-sm-6 text1">
                    <h2>Arbejdsformer</h2>
                    <p>Afhængigt af jeres behov kan I vælge om de studerende skal udarbejde løsningsforslag hjemmefra eller hos jer.</p>
                    <p>Vælger I at de studerende skal udarbejde løsningsforslag hjemmefra, indsender de studerende løsningsforslag, hvorefter I udvælger den studerende med det bedste løsningsforslag. Den studerende med det bedste løsningsforslag modtager herefter en belønning fra jer.</p>
                    <p>Vælger I derimod at I gerne vil have løsningsforslag udarbejdet hos jer, skal de studerende indsende ansøgninger, hvorefter I udvælger en eller flere studerende, som skal udarbejde løsningsforslaget hos jer i samarbejde med dem.</p>
                </div>
                <div class="col-sm-6">
                    <div class="img">
                        <img src="../../../wwwroot/assets/images/cb2.jpg" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hiw-background hiw-price">
        <div class="hiw-info color-white contentRow">
            <h2>Pris for at oprette opgaver</h2>
            <p>Det er gratis for virksomheder at uploade opgaver på Unifacto.com.</p>
            <h3>Belønning til studerende</h3>
            <p>Den studerende som udarbejder det bedste løsningsforslag enten hjemmefra eller hos jer, skal tildeles en belønning af jer, som kan være honorar, gave eller/og anbefaling.</p>
            <p>Desuden er det også muligt at tildele anbefalinger til andre gode løsningsforslag.</p>
        </div>
    </div>

    <div class="contentRow">
        <h3 class="hiw-headers heading2">Når studerende udarbejder løsningsforslaget hjemme</h3>
        <div class="hiw-business">
            <div class="hiw-step-business">
                <div class="hiw-circle">
                    <p class="hiw-step-number">1</p>
                    <p class="hiw-title">I uploader en <br /> opgave</p>
                </div>
                <div class="hiw-description">
                    <p>I uploader en opgave med deadline og belønning.</p>
                </div>
            </div>
            <div class="hiw-step-business">
                <div class="hiw-circle">
                    <p class="hiw-step-number">2</p>
                    <p class="hiw-title">Studerende indsender<br /> løsningsforslag</p>
                </div>
                <div class="hiw-description">
                    <p>De studerende udarbejder løsningsforslag, som vil blive sendt til jer.</p>
                </div>
            </div>
            <div class="hiw-step-business">
                <div class="hiw-circle">
                    <p class="hiw-step-number">3</p>
                    <p class="hiw-title">I vælger det bedste <br /> løsningsforslag</p>
                </div>
                <div class="hiw-description">
                    <p>Når deadlinen er udløbet udvælger I det bedste løsningsforslag ud fra de tilsendte forslag.</p>
                </div>
            </div>
            <div class="hiw-step-business">
                <div class="hiw-circle">
                    <p class="hiw-step-number">4</p>
                    <p class="hiw-title">Belønning<br /> gives</p>
                </div>
                <div class="hiw-description">
                    <p>Herefter sendes belønningen til den studerende, der har udarbejdet det bedste løsningsforslag.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="hiw-background">
        <div class="hiw-info contentRow">
            <h2>Vær opmærksom på</h2>
            <div>
                <p>Når I uploader opgaven, vil de studerende løbende indsende løsningsforslag til jer til den mail I har oplyst. Efter deadlinen har I fem arbejdsdage til at udvælge det bedste løsningsforslag, samt informere den studerende med det bedste løsningsforslag om, at personen er vinderen. Der skal ikke sendes mail til de studerende, som ikke udarbejdede det bedste løsningsforslag.</p>
                <p>Belønningen skal derudover gives til den studerende med det bedste løsningsforslag inden for 10 arbejdsdage efter deadlinen.</p>
            </div>
        </div>
    </div>
    
    <div class="contentRow">
        <h3 class="hiw-headers heading2">Når studerende udarbejder løsningsforslag hos jer</h3>
        <div class="hiw-business">
            <div class="hiw-step-business">
                <div class="hiw-circle">
                    <p class="hiw-step-number">1</p>
                    <p class="hiw-title">I uploader en <br /> opgave</p>
                </div>
                <div class="hiw-description">
                    <p>I uploader en opgave med beskrivelse, deadline og belønning.</p>
                </div>
            </div>
            <div class="hiw-step-business">
                <div class="hiw-circle">
                    <p class="hiw-step-number">2</p>
                    <p class="hiw-title">Studerende<br /> ansøger</p>
                </div>
                <div class="hiw-description">
                    <p>De studerende ansøger om at udarbejde løsningsforslaget hos jer.</p>
                </div>
            </div>
            <div class="hiw-step-business">
                <div class="hiw-circle">
                    <p class="hiw-step-number">3</p>
                    <p class="hiw-title">I udvælger den bedste ansøger <br /> og samarbejdet begynder</p>
                </div>
                <div class="hiw-description">
                    <p>Når deadlinen er overskredet udvælger I den bedste ansøger/ansøgere, som herefter påbegynder udarbejdelsen af løsningsforslaget hos jer.</p>
                </div>
            </div>
            <div class="hiw-step-business">
                <div class="hiw-circle">
                    <p class="hiw-step-number">4</p>
                    <p class="hiw-title">Belønning <br /> gives</p>
                </div>
                <div class="hiw-description">
                    <p>Efter løsningsforslaget er blevet udarbejdet hos jer tildeles den studerende den oplyste belønning.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="hiw-background">
        <div class="hiw-info contentRow">
            <h2>Vær opmærksom på</h2>
            <div>
                <p>Når I uploader opgaven, vil de studerende løbende sende jer ansøgninger til den oplyste email. Efter deadlinen er udløbet, har I fem arbejdsdage til at finde den/de bedste ansøgere til at udarbejde løsningsforslaget hos jer. Desuden skal ansøgeren/ansøgerne informeres om, at de er blevet udvalgt inden for fem arbejdsdage. Der skal ikke sendes mail til de ansøgere, der ikke blev udvalgt.</p>
                <p>Belønningen skal tildeles den/de udvalgte studerende inden for 10 arbejdsdage efter samarbejdssforløbet er afsluttet.</p>
            </div>
        </div>
        <div class="hiw-get-started contentRow">
            <p style="text-align:center;">Du kan læse brugerbetingelserne for virksomheder <b><a class="link" routerLink="/terms">her</a></b>.</p>
            <a routerLink="/business/register" class="butn butn-full fp-signup-btn">Opret dig som virksomhed nu</a>
        </div>
    </div>    

</div>


