.link {
    color: #FF9800;
    text-decoration: none;
}

.link:hover {
    color: #F57C00;
}

.hiw-header {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url(/assets/images/UCN1.png);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url(/assets/images/UCN1.png);
    background-size: cover;
    background-position: center;
    padding: 50px;
    display: flex;
    justify-content: center;
}

.hiw-header-title {
    color: white;
    font-size: 450%;
    font-weight: 100;
}

.hiw-content {
}

.hiw-background {
    background: -moz-linear-gradient(271deg, rgba(0,102,153,1) 0%, rgba(0,119,179,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,102,153,1)), color-stop(100%, rgba(0,119,179,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(271deg, rgba(0,102,153,1) 0%, rgba(0,119,179,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(271deg, rgba(0,102,153,1) 0%, rgba(0,119,179,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(271deg, rgba(0,102,153,1) 0%, rgba(0,119,179,1) 100%); /* ie10+ */
    background: linear-gradient(179deg, rgba(0,102,153,1) 0%, rgba(0,119,179,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006699', endColorstr='#0077b3',GradientType=0 ); /* ie6-9 */
    padding: 20px 0;
    color: white;
}

.hiw-headers {
    margin-bottom: 50px;
    padding-top: 40px;
}

.hiw-info {
    text-align: center;
    padding: 30px 0;
    width: 50%;
    margin: 0 auto;
}

.hiw-home {
    display: flex;
    justify-content: space-around;
}

.hiw-business {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 40px;
}


.hiw-step-home {
    flex: 0 0 33.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hiw-step-business {
    flex: 0 0 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hiw-circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #006699;
    border: 3px solid white;
    box-shadow: 0 0 0 5px #009de6, 0 12px 10px rgba(0, 0, 0, 0.3);
}

.hiw-step-number {
    color: white;
    text-align: center;
    font-size: 300%;
    font-weight: bolder;
}

.hiw-title {
    font-size: 110%;
    color: white;
    text-align: center;
}

.hiw-description {
    padding: 0 15px;
    font-size: 90%;
    margin-top: 20px;
    text-align: center;
    width: 240px;
}

.hiw-get-started {
    padding: 0 0 40px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) and (max-width : 479px) {
    .hiw-step-business {
        flex: 0 0 100%;
    }

    .hiw-header-title {
        font-size: 200%;
    }

    .hiw-header {
        padding: 30px;
    }

    .heading2 {
        font-size: 160%;
    }

    .hiw-info {
        width: 90%;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) and (max-width : 767px) {
    .hiw-step-business {
        flex: 0 0 50%;
    }

    .hiw-header-title {
        font-size: 250%;
    }

    .hiw-header {
        padding: 50px;
    }

    .heading2 {
        font-size: 200%;
    }

    .hiw-info {
        width: 90%;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) and (max-width : 991px) {
    .hiw-step-business {
        flex: 0 0 50%;
    }

    .hiw-header-title {
        font-size: 400%;
    }

    .heading2 {
        font-size: 250%;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .hiw-step-business {
        flex: 0 0 25%;
    }
}
