<div class="hiw-header">
    <div class="contentRow">
        <h2 class="hiw-header-title">Hvordan Unifacto virker</h2>
    </div>
</div>

<div class="container-fluid contentRow">
    <div class="hiw-content">
        <h3 class="hiw-headers heading2">Studerende Udarbejder løsningsforslaget hjemme</h3>
        <div class="hiw-business">
            <div class="hiw-step-business">
                <div class="hiw-circle">
                    <p class="hiw-step-number">1</p>
                    <p class="hiw-title">I uploader en <br /> opgave</p>
                </div>
                <div class="hiw-description">
                    <p>I uploader en marketingsrelateret opgave, med deadline og belønning.</p>
                </div>
            </div>
            <div class="hiw-step-business">
                <div class="hiw-circle">
                    <p class="hiw-step-number">2</p>
                    <p class="hiw-title">Studerende indsender<br /> løsningsforslag</p>
                </div>
                <div class="hiw-description">
                    <p>De studerende udarbejder løsningsforslag som vil blive sendt til jer.</p>
                </div>
            </div>
            <div class="hiw-step-business">
                <div class="hiw-circle">
                    <p class="hiw-step-number">3</p>
                    <p class="hiw-title">I vælger det bedste <br /> løsningsforslag</p>
                </div>
                <div class="hiw-description">
                    <p>Når deadlinen er overskredet udvælger I det bedste løsningsforslag, udfra de tilsendte forslag.</p>
                </div>
            </div>
            <div class="hiw-step-business">
                <div class="hiw-circle">
                    <p class="hiw-step-number">4</p>
                    <p class="hiw-title">Belønning<br /> gives</p>
                </div>
                <div class="hiw-description">
                    <p>Herefter sendes belønningen til den studerende, som har udarbejdet det bedste løsningsforslag.</p>
                </div>
            </div>
        </div>
        

        <div class="hiw-info">
            <h2>Vær opmærksom på</h2>
            <p>Ved udarbejdelse af løsningsforslag hjemmefra er du ikke garanteret en belønning. Som studerende arbejder du som selvstændig konsulent, hvilket betyder, at du kæmper mod andre studerende/konsulenter om at skabe det bedste løsningsforslag til virksomhedens opstillede opgave eller problemstilling. </p>
        </div>

        <h3 class="hiw-headers heading2">Studerende udarbejder løsningsforslaget hos jer</h3>
        <div class="hiw-business">
            <div class="hiw-step-business">
                <div class="hiw-circle">
                    <p class="hiw-step-number">1</p>
                    <p class="hiw-title">I uploader en <br /> opgave</p>
                </div>
                <div class="hiw-description">
                    <p>I uploader en marketingsrelateret opgave, med deadline og belønning.</p>
                </div>
            </div>
            <div class="hiw-step-business">
                <div class="hiw-circle">
                    <p class="hiw-step-number">2</p>
                    <p class="hiw-title">Studerende<br /> ansøger</p>
                </div>
                <div class="hiw-description">
                    <p>De studerende ansøger om at udarbejde løsningsforslaget hos jer.</p>
                </div>
            </div>
            <div class="hiw-step-business">
                <div class="hiw-circle">
                    <p class="hiw-step-number">3</p>
                    <p class="hiw-title">I udvælger den <br/> bedste kandidat</p>
                </div>
                <div class="hiw-description">
                    <p>Når deadlinen er overskredet udvælger I den bedste kandidat eller bedste kandidater, som herefter påbegynder udarbejdelsen af løsningsforslaget hos jer.</p>
                </div>
            </div>
            <div class="hiw-step-business">
                <div class="hiw-circle">
                    <p class="hiw-step-number">4</p>
                    <p class="hiw-title">Belønning <br /> gives</p>
                </div>
                <div class="hiw-description">
                    <p>Efter at løsningsforslaget er blevet udarbejdet hos jer, gives belønningen til kandidaten.</p>
                </div>
            </div>
        </div>
        <div class="hiw-info">
            <h2>Vær opmærksom på</h2>
            <p>Bjørne</p>
        </div>
        <div class="hiw-get-started">
            <a routerLink="/business/register" class="butn butn-full fp-signup-btn">Opret dig som virksomhed nu</a>
        </div>
    </div>
</div>

