<div class="hiw-header">
    <div class="contentRow">
        <h2 class="hiw-header-title">Hvordan Unifacto virker</h2>
    </div>
</div>


<div class="hiw-content">
    <div class="contentRow">
        <h3 class="hiw-headers heading2">Når studerende udarbejder løsningsforslaget hjemme</h3>
        <div class="hiw-business">
            <div class="hiw-step-business">
                <div class="hiw-circle">
                    <p class="hiw-step-number">1</p>
                    <p class="hiw-title">I uploader en <br /> opgave</p>
                </div>
                <div class="hiw-description">
                    <p>I uploader en opgave med deadline og belønning.</p>
                </div>
            </div>
            <div class="hiw-step-business">
                <div class="hiw-circle">
                    <p class="hiw-step-number">2</p>
                    <p class="hiw-title">Studerende indsender<br /> løsningsforslag</p>
                </div>
                <div class="hiw-description">
                    <p>De studerende udarbejder løsningsforslag, som vil blive sendt til jer.</p>
                </div>
            </div>
            <div class="hiw-step-business">
                <div class="hiw-circle">
                    <p class="hiw-step-number">3</p>
                    <p class="hiw-title">I vælger det bedste <br /> løsningsforslag</p>
                </div>
                <div class="hiw-description">
                    <p>Når deadlinen er udløbet udvælger I det bedste løsningsforslag ud fra de tilsendte forslag.</p>
                </div>
            </div>
            <div class="hiw-step-business">
                <div class="hiw-circle">
                    <p class="hiw-step-number">4</p>
                    <p class="hiw-title">Belønning<br /> gives</p>
                </div>
                <div class="hiw-description">
                    <p>Herefter sendes belønningen til den studerende, der har udarbejdet det bedste løsningsforslag.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="hiw-background">
        <div class="hiw-info contentRow">
            <h2>Vær opmærksom på</h2>
            <div>
                <p>Når I uploader opgaven, vil de studerende løbende indsende løsningsforslag til jer til den mail I har oplyst. Efter deadlinen har I fem arbejdsdage til at udvælge det bedste løsningsforslag, samt informere den studerende med det bedste løsningsforslag om, at personen er vinderen. Der skal ikke sendes mail til de studerende, som ikke udarbejdede det bedste løsningsforslag.</p>
                <p>Belønningen skal derudover gives til den studerende med det bedste løsningsforslag inden for 10 arbejdsdage efter deadlinen.</p>
            </div>
        </div>
    </div>
    
    <div class="contentRow">
        <h3 class="hiw-headers heading2">Når studerende udarbejder løsningsforslag hos jer</h3>
        <div class="hiw-business">
            <div class="hiw-step-business">
                <div class="hiw-circle">
                    <p class="hiw-step-number">1</p>
                    <p class="hiw-title">I uploader en <br /> opgave</p>
                </div>
                <div class="hiw-description">
                    <p>I uploader en opgave med beskrivelse, deadline og belønning.</p>
                </div>
            </div>
            <div class="hiw-step-business">
                <div class="hiw-circle">
                    <p class="hiw-step-number">2</p>
                    <p class="hiw-title">Studerende<br /> ansøger</p>
                </div>
                <div class="hiw-description">
                    <p>De studerende ansøger om at udarbejde løsningsforslaget hos jer.</p>
                </div>
            </div>
            <div class="hiw-step-business">
                <div class="hiw-circle">
                    <p class="hiw-step-number">3</p>
                    <p class="hiw-title">I udvælger den bedste ansøger <br /> og samarbejdet begynder</p>
                </div>
                <div class="hiw-description">
                    <p>Når deadlinen er overskredet udvælger I den bedste ansøger/ansøgere, som herefter påbegynder udarbejdelsen af løsningsforslaget hos jer.</p>
                </div>
            </div>
            <div class="hiw-step-business">
                <div class="hiw-circle">
                    <p class="hiw-step-number">4</p>
                    <p class="hiw-title">Belønning <br /> gives</p>
                </div>
                <div class="hiw-description">
                    <p>Efter løsningsforslaget er blevet udarbejdet hos jer tildeles den studerende den oplyste belønning.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="hiw-background">
        <div class="hiw-info contentRow">
            <h2>Vær opmærksom på</h2>
            <div>
                <p>Når I uploader opgaven, vil de studerende løbende sende jer ansøgninger til den oplyste email. Efter deadlinen er udløbet, har I fem arbejdsdage til at finde den/de bedste ansøgere til at udarbejde løsningsforslaget hos jer. Desuden skal ansøgeren/ansøgerne informeres om, at de er blevet udvalgt inden for fem arbejdsdage. Der skal ikke sendes mail til de ansøgere, der ikke blev udvalgt.</p>
                <p>Belønningen skal tildeles den/de udvalgte studerende inden for 10 arbejdsdage efter samarbejdssforløbet er afsluttet.</p>
            </div>
        </div>
        <div class="hiw-get-started contentRow">
            <p style="text-align:center;">Du kan læse brugerbetingelserne for virksomheder <b><a class="link" routerLink="/terms">her</a></b>.</p>
            <a routerLink="/business/register" class="butn butn-full fp-signup-btn">Opret dig som virksomhed nu</a>
        </div>
    </div>    

</div>


