<div class="container-fluid contentRow">
    <div class="row">
        <h3 class="heading1" style="margin-right:15px;margin-left:15px;">Redigér virksomhedens oplysninger</h3>
        <form novalidate (ngSubmit)="onSubmit()" #f="ngForm" class="panel panel-default" style="margin-right:15px;margin-left:15px;">
            <div class="panel-body">
                <div class="form-group"
                     [ngClass]="{
                         'has-error': name.invalid && (name.dirty || name.touched)
                         }">
                    <label for="name" class="control-label">Virksomhedens navn *</label>
                    <input type="text" id="name" class="form-control" name="name" [(ngModel)]="model.name" #name="ngModel" required />
                    <div class="form-feedback" *ngIf="name.errors && (name.dirty || name.touched)">
                        <p *ngIf="name.errors.required">Virksomhedens navn skal udfyldes</p>
                    </div>
                </div>

                <div class="form-group"
                     [ngClass]="{
                         'has-error': username.invalid && (username.dirty || username.touched)
                         }">
                    <label for="username" class="control-label">Brugernavn *</label>
                    <input type="text" id="username" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required />
                    <div class="form-feedback" *ngIf="username.errors && (username.dirty || username.touched)">
                        <p *ngIf="username.errors.required">Brugernavn skal udfyldes</p>
                    </div>
                </div>

                <div class="form-group"
                     [ngClass]="{
                            'has-error': email.invalid && (email.dirty || email.touched)
                        }">
                    <label for="email" class="control-label">Email *</label>
                    <input type="email"
                           class="form-control"
                           name="email"
                           id="email"
                           [(ngModel)]="model.email"
                           required
                           pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)+$"
                           #email="ngModel">
                    <div class="form-feedback"
                         *ngIf="email.errors && (email.dirty || email.touched)">
                        <p *ngIf="email.errors.required">Email skal være udfyldt</p>
                        <p *ngIf="email.errors.pattern">Emailen skal være på formen navn@eksempel.dk</p>
                    </div>
                </div>

                <div class="form-group"
                        [ngClass]="{
                        'has-error': city.invalid && (city.dirty || city.touched),
                        'has-success': city.valid && (city.dirty || city.touched)
                        }">
                    <label for="city" class="control-label">By *</label>
                    <!--<em class="form-feedback" *ngIf="title.errors.required">Skal udfyldes</em>-->
                    <input type="text" id="city" class="form-control" name="city" [(ngModel)]="model.city" #city="ngModel" required />
                    <div class="form-feedback" *ngIf="city.errors && (city.dirty || city.touched)">
                        <p *ngIf="city.errors.required">Byen skal udfyldes</p>
                    </div>
                </div>

                <div class="form-group"
                        [ngClass]="{
                        'has-error': zip.invalid && (zip.dirty || zip.touched),
                        'has-success': zip.valid && (zip.dirty || zip.touched)
                        }">
                    <label for="zip" class="control-label">Postnummer *</label>
                    <input type="number" min="0" max="9999" class="form-control" id="zip" name="zip" [(ngModel)]="model.zip" #zip="ngModel" required />
                    <div class="form-feedback" *ngIf="zip.errors && (zip.dirty || zip.touched)">
                        <p *ngIf="zip.errors.required">Postnummeret skal udfyldes</p>
                    </div>
                </div>

                <div class="form-group"
                     [ngClass]="{
                         'has-error': address.invalid && (address.dirty || address.touched),
                         'has-success': address.valid && (address.dirty || address.touched)
                         }">
                    <label for="address" class="control-label">Vejnavn og nummer *</label>
                    <!--<em class="form-feedback" *ngIf="title.errors.required">Skal udfyldes</em>-->
                    <input type="text" id="address" class="form-control" name="address" [(ngModel)]="model.address" #address="ngModel" required />
                    <div class="form-feedback" *ngIf="address.errors && (address.dirty || address.touched)">
                        <p *ngIf="address.errors.required">Vejnavn og nummer skal udfyldes</p>
                    </div>
                </div>

                <div class="form-group"
                     [ngClass]="{
                            'has-error': description.invalid && (description.dirty || description.touched),
                            'has-success': description.valid && (description.dirty || description.touched)
                        }">
                    <label for="textArea" class="control-label">
                        Virksomhedsbeskrivelse *
                        <span class="fa-stack" style="font-size:10px;" tooltip="Beskriv din virksomhed med maksimalt 700 tegn inkl. mellemrum">
                            <i class="fa fa-circle fa-stack-2x" style="color:#006699"></i>
                            <i class="fa fa-info fa-stack-1x fa-inverse"></i>
                        </span>
                    </label>
                    <textarea style="resize:none;" class="form-control" rows="8" id="textArea" name="description" [(ngModel)]="model.description" #description="ngModel" maxlength="700" required></textarea>
                    <span *ngIf="model.description" style="float: right">{{model.description.length}} / 700</span>
                    <span class="help-block" style="font-size:16px;">Fortæl om virksomheden og hvad I arbejder med. Maksimalt 700 tegn inkl. mellemrum.</span>
                    <div class="form-feedback"
                         *ngIf="description.errors && (description.dirty || description.touched)">
                        <p *ngIf="description.errors.required">Giv venligst en kort beskrivelse af din virksomhed</p>
                    </div>
                </div>

                <div class="col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="logo" class="control-label">Logo</label>
                        <input type="file" id="logo" name="logo" value="Upload logo" (change)="fileChange($event)">
                        <p class="help-block" style="font-size:16px;">Upload virksomhedens logo, som vil blive vist på opslåede opgaver.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12 img-preview">
                    <div class="img-container" *ngIf="filePreviewPath">
                        <img [src]="filePreviewPath" />
                    </div>
                    <div class="img-container" *ngIf="!filePreviewPath">
                        <img [src]="model.logoUrl" />
                    </div>
                </div>
                
                <div class="col-xs-12" style="display:flex;justify-content:center;flex-wrap:wrap;margin: 10px 0;">
                    <button type="submit" class="btn btn-success btn-lg" [disabled]="(f.invalid || !f.dirty) && !logoChanged" style="margin-bottom:20px">Gem</button>
                </div>
            </div>    
        </form>
        <div class="col-md-12" style="display:flex;justify-content:center;flex-wrap:wrap;margin: 10px 0;flex-direction:column;align-items:center;">
            <p style="text-align:center;">Hvis du ønsker at ændre adgangskoden til denne virksomhed kan det gøres <b><a style="cursor:pointer;" (click)="smModal.show()">her</a></b>.</p>
        </div>
    </div>
</div>

<div bsModal #smModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Small modal</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="smModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>De ændreinger du kan have lavet vil ikke blive gemt, hvis du forlader denne side. Ønsker du at gå til siden for at ændre din adgangskode?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Nej</button>
                <button routerLink="/login/change-password" type="button" class="card-btn btn btn-primary">Ja</button>
            </div>
        </div>
    </div>
</div>
