<div class="container-fluid contentRow">
    <div class="row">
        <h3 class="heading1" style="margin-right:15px;margin-left:15px;">Redigér virksomhedens oplysninger</h3>
        <form novalidate (ngSubmit)="onSubmit()" #f="ngForm" class="panel panel-default" style="margin-right:15px;margin-left:15px;">
            <div class="panel-body">
                <div class="form-group"
                     [ngClass]="{
                         'has-error': name.invalid && (name.dirty || name.touched)
                         }">
                    <label for="name" class="control-label">Virksomhedens Navn *</label>
                    <input type="text" id="name" class="form-control" name="name" [(ngModel)]="model.name" #name="ngModel" required />
                    <div class="form-feedback" *ngIf="name.errors && (name.dirty || name.touched)">
                        <p *ngIf="name.errors.required">Virksomhedens navn skal udfyldes</p>
                    </div>
                </div>

                <div class="form-group"
                     [ngClass]="{
                         'has-error': username.invalid && (username.dirty || username.touched)
                         }">
                    <label for="username" class="control-label">Brugernavn *</label>
                    <input type="text" id="username" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required />
                    <div class="form-feedback" *ngIf="username.errors && (username.dirty || username.touched)">
                        <p *ngIf="username.errors.required">Brugernavn skal udfyldes</p>
                    </div>
                </div>

                <div class="form-group"
                     [ngClass]="{
                            'has-error': email.invalid && (email.dirty || email.touched)
                        }">
                    <label for="email" class="control-label">Kontakt Email *</label>
                    <input type="email"
                           class="form-control"
                           name="email"
                           id="email"
                           [(ngModel)]="model.email"
                           required
                           pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)+$"
                           #email="ngModel">
                    <div class="form-feedback"
                         *ngIf="email.errors && (email.dirty || email.touched)">
                        <p *ngIf="email.errors.required">Email skal være udfyldt</p>
                        <p *ngIf="email.errors.pattern">Emailen skal være på formen test@test.test</p>
                    </div>
                </div>

                <!--<div class="form-group"
                     [ngClass]="{
                            'has-error': password.invalid && (password.dirty || password.touched),
                            'has-success': password.valid && (password.dirty || password.touched)
                        }">
                    <label for="password" class="control-label">Adgangskode *</label>
                    <input type="password"
                           class="form-control"
                           id="password"
                           name="password"
                           [(ngModel)]="model.password"
                           pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,}$"
                           required
                           #password="ngModel">
                    <div class="form-feedback"
                         *ngIf="password.errors && (password.dirty || password.touched)">
                        <p *ngIf="password.errors.required">Password is required</p>
                        <p *ngIf="password.errors.pattern">Kodeordet skal være minimum 8 tegn og indeholde et tal</p>
                    </div>
                </div>-->

                <div class="form-group">
                    <label for="textArea" class="control-label">Virksomheds Beskrivelse</label>
                    <textarea style="resize:none;" class="form-control" rows="8" id="textArea" name="description" [(ngModel)]="model.description" #description="ngModel"></textarea>
                    <span class="help-block" style="font-size:16px;">Fortæl om virksomheden og hvad I arbejder med.</span>
                </div>

                <!--<div class="form-group">
                    <label for="logo" class="control-label">Logo</label>
                    <input type="file" id="logo" name="logo" [(ngModel)]="model.logo" #logo="ngModel">
                    <p class="help-block" style="font-size:16px;">Upload virksomhedens logo, som vil blive vist på opslåede jobs.</p>
                </div>-->
                <div class="col-md-12" style="display:flex;justify-content:center;flex-wrap:wrap;margin: 10px 0;">
                    <button type="submit" class="btn btn-success btn-lg" [disabled]="f.invalid || !f.dirty" style="margin-bottom:20px">Gem</button>
                </div>
            </div>    
        </form>
        <div class="col-md-12" style="display:flex;justify-content:center;flex-wrap:wrap;margin: 10px 0;flex-direction:column;align-items:center;">
            <p style="text-align:center;">Hvis du ønsker at ændre adgangskoden til denne virksomhed kan det gøres <b><a style="cursor:pointer;" (click)="smModal.show()">her</a></b>.</p>
        </div>
    </div>
</div>

<div bsModal #smModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Small modal</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="smModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>De ændreinger du kan have lavet vil ikke blive gemt, hvis du forlader denne side. Ønsker du at gå til siden for at ændre din adgangskode?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Nej</button>
                <button routerLink="/login/changepassword" type="button" class="card-btn btn btn-primary">Ja</button>
            </div>
        </div>
    </div>
</div>
