.uploaded-files {
    display: flex;
    flex-wrap: wrap;
}

.file-pill {
    padding: 5px 5px 5px 15px;
    display: flex;
    height: 30px;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 5px;
}

a {
    color: black;
    text-decoration: none;
}

a:focus,
a:visited,
a:hover,
a:active {
    color: black;
    text-decoration: none;
}

.file-pill-text:hover {
    color: #4CAF50;
}

.file-pill-text {
    font-size: 16px;
    display: inline-block;
}

    .file-pill-text p {
        margin: 0;
    }

.file-pill-icon {
    width: 30px;
    display: inline-block;
    text-align: center;
    padding: 4px;
    transition: transform ease 0.5s;
}

    .file-pill-icon:hover {
        color: #D32F2F;
        transform: rotateZ(-90deg);
    }

.upload-content {
    padding: 20px;
}

.past-deadline {
    margin-top: 20px;
}

.contact-student {
    padding: 20px 50px;
    background-color: #006699;
    color: white;
    margin: 20px auto;
    display: inline-block;
}

.link {
    color: #FF9800;
    text-decoration: none;
}

    .link:hover {
        color: #F57C00;
        text-decoration: none;
    }

    .link:active,
    .link:focus,
    .link:visited {
        color: #FF9800;
        text-decoration: none;
    }