@import url("https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,700");
@import url("../../wwwroot/assets/font-awesome/css/font-awesome.css");
/* ------------------------------- */
/* ----- Global CSS Classes ----- */
/* -------------------------------- */
html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.contentRow {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.content {
    margin-top: 70px;
    min-height: calc(100vh - 294.5px);
}
/* ----- Headers ----- */
.heading2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

.heading2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 200px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px;
}

/* ---- Paragraphs ----- */
.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}




.line-separator {
    height: 1px;
    background: #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
    webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

.btn-fab {
    background-color: #e67e22;
    position: fixed;
    z-index: 69;
    top: 90%;
    right: 3%;
    border: none;
    font-size: 1.5em;
    color: white;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    margin: auto;
    -webkit-box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
    -moz-box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
    box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
}

.btn-fab-icon {
    font-size: 38px;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 6px;
}

.btn-fab:hover {
    background-color: #c8660f;
}