<shared-header></shared-header>
<div class="content">
    <router-outlet (deactivate)="onDeactivate()"></router-outlet>
</div>
<shared-footer></shared-footer>
<app-sidemenu [@slideInOut]="menuState"></app-sidemenu>
<div class="shaded-background" *ngIf="showMenu" (click)="closeSideMenu()"></div>

<div class="alert-global">
    <div [@flyInOut]="'in'" *ngFor=" let alert of alerts">
        <alert [type]="alert.type"   >
            <strong>{{alert.titel + ": "}}</strong>{{alert.message}}
        </alert>
    </div>
</div>

<div class="cookie-alert" *ngIf="!acceptCookie && isBrowser">
    <div [@flyInOut]="'in'">
        <div class="cookie">
            <div class="contentRow">
                <div>
                    <p>Vi anvender cookies på Unifacto til at gemme dine indstillinger og gøre din brugeroplevelse lettere og bedre. Denne information bruges ikke af tredjepart.</p>
                </div>
                <div class="text-center">
                    <button type="button" class="butn butn-ghost-white cookie-btn" (click)="setCookie()">Accepter cookies</button>
                </div>
            </div>
        </div>
    </div>
</div>

<mat-progress-spinner *ngIf="loading" [mode]="'indeterminate'" [color]="'#337ab7'"></mat-progress-spinner>
<div *ngIf="loading" class="loading-background"></div>
<div class="server-loading-background"></div>
<div class="spinner">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
</div>
