@import url("https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,700");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("../../wwwroot/assets/font-awesome/css/font-awesome.css");
/* ------------------------------- */
/* ----- Global CSS Classes ----- */
/* -------------------------------- */
html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.contentRow {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.content {
    margin-top: 60px;
    min-height: calc(100vh - 284.5px);
}
/* ----- Headers ----- */
.heading1 {
    font-size: 220%;
    word-spacing: 2px;
    margin-top: 40px;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.heading1::after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 200px;
    margin-top: 20px;
}

.heading2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.heading3 {
    font-size: 110%;
    margin-bottom: 15px;
}

.heading2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 200px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px;
}

/* ---- Paragraphs ----- */
.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.line-separator {
    height: 1px;
    background: #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
    webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

