<shared-header></shared-header>
<div class="content">
    <router-outlet (deactivate)="onDeactivate()"></router-outlet>
</div>
<shared-footer></shared-footer>

<div class="alert-global">
    <div [@flyInOut]="'in'" *ngFor=" let alert of alerts">
        <alert [type]="alert.type"   >
            <strong>{{alert.titel + ": "}}</strong>{{alert.message}}
        </alert>
    </div>
</div>
<spinner *ngIf="loading" [size]="100" [tickness]="10" [color]="'#337ab7'"></spinner>
<div *ngIf="loading" class="loading-background"></div>