.hiw-step-home {
    flex: 0 0 33.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hiw-circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #006699;
    border: 3px solid white;
    box-shadow: 0 0 0 5px #009de6, 0 12px 10px rgba(0, 0, 0, 0.3);
}

.hiw-step-number {
    color: white;
    text-align: center;
    font-size: 300%;
    font-weight: bolder;
}

.hiw-title {
    font-size: 110%;
    color: white;
    text-align: center;
}

.hiw-description {
    padding: 0 15px;
    font-size: 90%;
    margin-top: 20px;
    text-align: center;
    width: 240px;
}


/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) and (max-width : 479px) {
    .hiw-step-home {
        flex: 0 0 100%;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) and (max-width : 767px) {
    .hiw-step-home {
        flex: 0 0 50%;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) and (max-width : 991px) {
    .hiw-step-home {
        flex: 0 0 50%;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .hiw-step-home {
        flex: 0 0 33.3%;
    }
}