<div class="container-fluid contentRow">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 panel panel-default" style="margin-top:50px;">
            <div class="panel-body">
                <form novalidate (ngSubmit)="onSubmit()" #f="ngForm">
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="form-group"
                             [ngClass]="{
                            'has-error': oldPassword.invalid && (oldPassword.dirty || oldPassword.touched),
                            'has-success': oldPassword.valid && (oldPassword.dirty || oldPassword.touched)
                        }">
                            <label for="oldPassword" class="control-label">Gammel Adgangskode</label>
                            <input type="password"
                                   class="form-control"
                                   id="oldPassword"
                                   name="oldPassword"
                                   [(ngModel)]="currentPassword"
                                   pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,}$"
                                   required
                                   #oldPassword="ngModel">
                            <div class="form-feedback"
                                 *ngIf="oldPassword.errors && (oldPassword.dirty || oldPassword.touched)">
                                <p *ngIf="oldPassword.errors.required">Gammel Adgangskode skal sættes</p>
                                <p *ngIf="oldPassword.errors.pattern">Kodeordet skal være minimum 8 tegn og indeholde et tal og et stort bogstav</p>
                            </div>
                        </div>
                        <div class="form-group"
                             [ngClass]="{
                            'has-error': nPassword.invalid && (nPassword.dirty || nPassword.touched),
                            'has-success': nPassword.valid && (nPassword.dirty || nPassword.touched)
                        }">
                            <label for="nPassword" class="control-label">Ny Adgangskode</label>
                            <input type="password"
                                   class="form-control"
                                   id="nPassword"
                                   name="nPassword"
                                   [(ngModel)]="newPassword"
                                   pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,}$"
                                   validateEqual="conPassword"
                                   reverse="true"
                                   required
                                   #nPassword="ngModel">
                            <div class="form-feedback"
                                 *ngIf="nPassword.errors && (nPassword.dirty || nPassword.touched)">
                                <p *ngIf="nPassword.errors.required">Ny Adgangskode skal sættes</p>
                                <p *ngIf="nPassword.errors.pattern">Kodeordet skal være minimum 8 tegn og indeholde et tal og et stort bogstav</p>
                            </div>
                        </div>
                        <div class="form-group"
                             [ngClass]="{
                            'has-error': conPassword.invalid && (conPassword.dirty || conPassword.touched),
                            'has-success': conPassword.valid && (conPassword.dirty || conPassword.touched)
                        }">
                            <label for="conPassword" class="control-label">Gentag Ny Adgangskode</label>
                            <input type="password"
                                   class="form-control"
                                   id="conPassword"
                                   name="conPassword"
                                   [(ngModel)]="confirmPassword"
                                   validateEqual="nPassword"
                                   required
                                   #conPassword="ngModel">
                            <div class="form-feedback"
                                 *ngIf="conPassword.invalid && (conPassword.dirty || conPassword.touched)">
                                <p>Kodeordene skal være ens</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 text-center">
                        <button type="submit" class="btn btn-primary btn" [disabled]="f.invalid">Ændre Adgangskode</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>