.fp-header {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/assets/images/cb1.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/assets/images/cb1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 70vh;
    display:flex;
    justify-content:center;
    align-items: center;
}

.hero-text-box {
    width: 100%;
    color: white;
}

.hero-text-box h1 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #fff;
    font-size: 500%;
    word-spacing: 4px;
    letter-spacing: 1px; 
    font-weight: 100;
    border-bottom: 5px solid white;
    border-top: 5px solid white;
    display: inline-block;
}

.hero-text-box h2 {
    margin-top:0;
    font-weight: 100;
}

.btn-header {
    width: 350px;
    margin-top: 40px;
    padding: 25px 30px;
    font-weight: 500;
    font-size: 120%;
}


.fp-how-it-works {
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: #EEEEEE;
}

.fp-hiw-container {
    display:flex;
}

.fp-hiw-card {
    display: flex;
    border-radius: 5px;
    webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.3s ease-in-out;
    padding: 25px;
    flex: 1 1 50%;
    margin: 25px;
    cursor: pointer;
    background-color: white;
}

.fp-hiw-card:hover {
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.4);
}

.fp-hiw-icon {
    color: #006699;
    flex: 0 0 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fp-hiw-icon i {
    
}

.fp-hiw-info {
    flex: 0 0 75%;
    padding-left: 15px;
}

.fp-hiw-title {
    font-size: 150%;
    color: #006699;
    font-weight: 500;
}

.fp-hiw-text {

}

.fp-tasks {
    padding-top: 30px;
    padding-bottom: 30px;
}

.how-it-works-btn {
    width: 300px;
}

.how-it-works-btn:first-child {
    margin-right:20px;
}

.how-it-works-btns {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* ----- FP-ABOUT -----*/
.fp-about {
    padding-top: 30px;
    padding-bottom: 50px;
}

.fp-about-item {
    margin-top: 40px;
}

.fp-some-section {
    background-image: linear-gradient(to bottom right, #006699, #02ccba);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.info-card {
    box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
    border-radius: 0.375rem;
    background-color: white;
    min-height: 150px;
    padding: 20px;
    width: 100%;
    margin: 0 5%;
    display: flex;
    justify-content: center;
}

.fp-info {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/assets/images/cb4.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/assets/images/cb4.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 120px 0;
    display: flex;
    align-items: center;
}

.fp-info-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fp-info-text {
    color: white;
    font-size: 150%;
    display: flex;
    flex-direction:column;
}

.fp-info-text1 {
    align-self: center;
    text-align: center;
    width: 65%;
}

.fp-info-text2 {
    text-align: center;
    align-self: center;
    font-size: 190%;
}

.fp-info-btn {
    margin-top: 20px;
    width: 300px;
    padding: 20px 50px;
    font-size: 120%;
}

.fp-social {
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: #EEEEEE;
}

.fp-social-container {
    display: flex;
    justify-content:center;
    align-items:center;
}

.fp-social-btn {
    background-color: white;
    border-radius: 150px;
    cursor: pointer;
    font-size: 2.0rem;
    height: 150px;
    line-height: 150px;
    margin: 0 20px;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 150px;
    display: flex;
    justify-content:center;
    align-items: center;
}

.fp-social-btn:hover,
.fp-social-btn:active,
.fp-social-btn:visited,
.fp-social-btn:focus{
    text-decoration: none;
    border: none;
}

.fp-social-btn span {
    border-radius: 0;
    display: block;
    height: 0;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 0;
}

.fp-social-btn i {
    background: none;
    height: 150px;
    line-height: 150px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    width: 3.6rem;
    z-index: 10;
}


.social-facebook {
    color: #3b5998;
}

.social-instagram {
    color: #8a3ab9;
}

.social-linkedin {
    color: #0077b5;
}

.fp-social-btn:hover .social-facebook,
.fp-social-btn:hover .social-instagram,
.fp-social-btn:hover .social-linkedin {
    color: white;
}



.fp-social-btn:hover span {
    width: 150px;
    height: 150px;
    border-radius: 150px;
    margin: -75px;
}

.fp-social-facebook span {
    background-color: #3b5998;
}

.fp-social-linkedin span {
    background-color: #0077b5;
}

.fp-social-instagram span {
    background-color: #8a3ab9;
}

.fp-signup {
    padding: 80px 0;
}

.fp-signup-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.fp-signup-text {
    font-size: 180%;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.fp-signup-btn {
    margin-top: 20px;
    width: 300px;
    font-size: 110%;
    padding: 20px 30px;
}


/* ----- Testimonials ----- */
.fp-testimonials {
    background: -moz-linear-gradient(271deg, rgba(0,102,153,1) 0%, rgba(0,119,179,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,102,153,1)), color-stop(100%, rgba(0,119,179,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(271deg, rgba(0,102,153,1) 0%, rgba(0,119,179,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(271deg, rgba(0,102,153,1) 0%, rgba(0,119,179,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(271deg, rgba(0,102,153,1) 0%, rgba(0,119,179,1) 100%); /* ie10+ */
    background: linear-gradient(179deg, rgba(0,102,153,1) 0%, rgba(0,119,179,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006699', endColorstr='#0077b3',GradientType=0 ); /* ie6-9 */
}

.fp-testimonials-content {
    padding: 40px;
    color: white;
    display: flex;

}

.fp-testimonials-quote {
    flex: 1 1 70%;
}

.quote {
    font-style: italic;
    margin-left: 5px;
}

.quote-start{
    font-size: 200%;
}

.quote-start {

}

.quote-info {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    flex: 1 1 30%;
    margin: 0 20px;
}


.fp-testimonials-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    box-shadow: 0 0 0 5px #009de6, 0 12px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    margin-bottom: 10px;
}

.fp-testimonials-img img {
    height:  125px;
    width: auto;
}

.fp-testimonials-name {
    margin: 0;
}

@media only screen and (max-width : 360px) {
    .fp-hiw-card {
        flex-direction: column;
    }

    .fp-hiw-icon {
        margin-bottom: 15px;
    }

    .fp-hiw-info {
        padding: 0;
    }
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) and (max-width : 479px) {
    .how-it-works-btns {
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
    }

    .how-it-works-btn {
        margin-top: 15px;
        width: 200px;
    }

    .heading2 {
        font-size: 170%;
    }

    .hero-text-box h1 {
        font-size: 400%;
    }

    .hero-text-box h2 {
        font-size: 120%;
    }

    .btn-header {
        width: 300px;
    }

    .fp-header {
        height: 70vh;
    }

    .how-it-works-btn:first-child {
        margin-right: 0;
    }

    .fp-info-text1 {
        font-size: 70%;
        width: 90%;
    }

    .fp-info-text2 {
        font-size: 130%;
    }

    .fp-info {
        padding: 80px 0;
    }

    .fp-signup-text {
        font-size: 120%;
        width: 90%;
    }

    .fp-hiw-container {
        flex-wrap: wrap;
    }

    .fp-hiw-card {
        flex: 1 1 100%;
    }

    .fp-social-container {
        flex-direction: column;
    }

    .fp-social-btn {
        margin: 10px 20px;
    }

    .fp-testimonials-content {
        flex-direction: column;
        padding: 30px 15px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) and (max-width : 767px) {
    .how-it-works-btn {
        margin-top: 15px;
        width: 200px;
    }

    .heading2 {
        font-size: 250%;
    }

    .fp-signup-text {
        font-size: 140%;
    }

    .fp-social-btn {
        margin: 0 5px;
    }

    .fp-hiw-container {
        flex-wrap: wrap;
    }

    .fp-hiw-card {
        flex: 1 1 100%;
    }

    .fp-testimonials-content {
        flex-direction: column;
    }

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) and (max-width : 991px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}