<div class="contentRow">

</div>
<div class="fp-header">
    <div class="hero-text-box text-center">
        <div class="contentRow">
            <h1>UNIFACTO</h1>
            <h2 style="font-size:140%;">Dit studieliv som konsulent starter allerede i dag</h2>
            <a routerLink="/tasks" class="butn butn-ghost-white btn-header">Vis mig de studierelevante opgaver nu!</a>
            <button md-button>Basic</button>
        </div>
        
    </div>
</div>

<div class="fp-how-it-works">
    <div class="contentRow">
        <h2 class="heading2">Hvordan virker det?</h2>
        <!--<div class="how-it-works-btns">
            <a routerLink="/howitworksstudents" class="butn butn-full how-it-works-btn">For studerende</a>
            <a routerLink="/howitworksbusiness" class="butn butn-full how-it-works-btn">For virksomheder</a>
        </div>-->
        <div class="fp-hiw-container">
            <div class="fp-hiw-card" routerLink="/how-it-works-students">
                <div class="fp-hiw-icon">
                    <i class="fa fa-graduation-cap fa-4x" aria-hidden="true"></i>
                </div>
                <div class="fp-hiw-info">
                    <p class="fp-hiw-title">For studerende</p>
                    <p class="fp-hiw-text">Læs mere om hvordan Unifacto virker for dig som studerende og hvad du skal være opmærksom på.</p>
                </div>
            </div>
            <div class="fp-hiw-card" routerLink="/how-it-works-businesses">
                <div class="fp-hiw-icon">
                    <i class="fa fa-briefcase fa-4x" aria-hidden="true"></i>
                </div>
                <div class="fp-hiw-info">
                    <p class="fp-hiw-title">For virksomheder</p>
                    <p class="fp-hiw-text">Læs mere om hvordan Unifacto virker for jer som virksomhed og hvordan I kommer i gang med det samme.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fp-tasks">
    <div class="contentRow">
        <h2 class="heading2" style="margin-bottom:-20px !important;">Nyeste opgaver</h2>
        <task-list [tasks]="latestTasks"></task-list>
    </div>
</div>

<!--<div class="fp-about">
    <div class="container-fluid contentRow">
        <div class="row">
            <h2 class="heading2">What is CaseSite?</h2>
            <p class="long-copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dictum felis quis urna blandit, a mollis libero dictum. 
            Aenean eleifend lobortis nisi, ac convallis mi sagittis a. Aenean vel convallis mauris. Phasellus sit amet faucibus enim. 
            Aenean lectus tellus, facilisis ut neque quis, vehicula viverra nisi.</p>           
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12 fp-about-item">
                <h3>Quite a title</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dictum felis quis urna blandit, a mollis libero dictum. Aenean eleifend lobortis nisi,</p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 fp-about-item">
                <h3>Such a title</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dictum felis quis urna blandit, a mollis libero dictum. Aenean eleifend lobortis nisi,</p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 fp-about-item">
                <h3>Much title</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dictum felis quis urna blandit, a mollis libero dictum. Aenean eleifend lobortis nisi,</p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 fp-about-item">
                <h3>The title</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dictum felis quis urna blandit, a mollis libero dictum. Aenean eleifend lobortis nisi,</p>
            </div>
        </div>
    </div>
</div>-->
<div class="fp-testimonials">
    <div class="fp-testimonials-content contentRow">
        <div class="fp-testimonials-quote">
            <i class="quote-start fa fa-quote-left"></i>
            <p class="quote">
                Jeg er generelt fan af tanken om at bygge bro imellem studerende og virksomheder.
                Dermed ikke sagt at studielivet kun skal handle om at gøre sig klar til et arbejde, for der er også meget værdi i at
                udvikle sig selv som menneske og ’danne sig’. Men når det så er sagt, så er det klart, at UDdannelse også må
                handle om at komme ud i virkeligheden efterfølgende.
                I den forbindelse synes jeg, at Unifacto udfylder en vigtig rolle i forhold til, at studerende kan opnå
                studierelevant erhvervserfaring, og at virksomheder får løst opgaver inden for kommunikation og marketing.
            </p>
        </div>
        <div class="quote-info">
            <div class="fp-testimonials-img">
                <img src="../../../wwwroot/assets/images/jonathan-L.png" alt="" />
            </div>
            <p class="fp-testimonials-name">Jonathan Løw <br />Serie-iværksætter og foredragsholder</p>
            <a class="link" href="https://www.jonathanloew.dk/" target="_blank">Listenlouder</a>
        </div>
    </div>
</div>
<div class="fp-info">
    <div class="fp-info-content contentRow">
        <div class="fp-info-text">
            <p class="fp-info-text1">Få studierelevant erhvervserfaring ved at løse forskellige kommunikations- og marketingopgaver for virksomheder</p>
            <p class="fp-info-text2">... når det passer dig.</p>
        </div>
        <a routerLink="/about" class="butn butn-ghost-white fp-info-btn">Læs mere om Unifacto</a>
    </div>
</div>
<div class="fp-signup">
    <div class="fp-signup-content contentRow">
        <p class="fp-signup-text">Mangler du hjælp til marketingrelaterede opgaver i din virksomhed?</p>
        <p class="fp-signup-text">Det er gratis at oprette sig og slå opgaver op på Unifacto.</p>
        <a routerLink="/business/register" class="butn butn-full fp-signup-btn">Opret din virksomhed her</a>
    </div>
</div>
<div class="fp-social">
    <div class="contentRow">
        <h2 class="heading2">Fang os på de sociale medier</h2>
    </div>
    <div class="fp-social-container contentRow">
        <a href="https://www.facebook.com/UnifactoDK/" target="_blank" class="fp-social-btn fp-social-facebook"><i class="fa fa-facebook fa-2x social-facebook"></i><span></span></a>
        <a href="https://www.linkedin.com/company-beta/18140400/" target="_blank" class="fp-social-btn fp-social-linkedin"><i class="fa fa-linkedin fa-2x social-linkedin"></i><span></span></a>
        <a href="https://www.instagram.com/unifactodk/" target="_blank" class="fp-social-btn fp-social-instagram"><i class="fa fa-instagram fa-2x social-instagram"></i><span></span></a>
    </div>
</div>
