<div class="contentRow">

</div>
<div class="fp-header">
    <div class="hero-text-box text-center">
        <div class="contentRow">
            <h1>UNIFACTO</h1>
            <h2>Et eller andet her</h2>
            <a href="" class="butn butn-ghost-white" style="width:350px;margin-top:40px;">Start dit konsulent arbejde her!</a>
        </div>
        
    </div>
</div>

<div class="fp-how-it-works">
    <div class="contentRow">
        <h2 class="heading2">Hvordan virker det?</h2>
        <div style="display:flex;justify-content:space-around;">
            <a href="" class="butn butn-full" style="width:300px">For studerende</a>
            <a href="" class="butn butn-full" style="width:300px">For virksomheder</a>
        </div>
    </div>
</div>

<div class="fp-tasks">
    <div class="contentRow">
        <h2 class="heading2" style="margin-bottom:-20px !important;">Nyeste opgaver</h2>
        <task-list [tasks]="latestTasks"></task-list>
    </div>
</div>

<div class="fp-about">
    <div class="container-fluid contentRow">
        <div class="row">
            <h2 class="heading2">What is CaseSite?</h2>
            <p class="long-copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dictum felis quis urna blandit, a mollis libero dictum. 
            Aenean eleifend lobortis nisi, ac convallis mi sagittis a. Aenean vel convallis mauris. Phasellus sit amet faucibus enim. 
            Aenean lectus tellus, facilisis ut neque quis, vehicula viverra nisi.</p>           
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12 fp-about-item">
                <h3>Quite a title</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dictum felis quis urna blandit, a mollis libero dictum. Aenean eleifend lobortis nisi,</p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 fp-about-item">
                <h3>Such a title</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dictum felis quis urna blandit, a mollis libero dictum. Aenean eleifend lobortis nisi,</p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 fp-about-item">
                <h3>Much title</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dictum felis quis urna blandit, a mollis libero dictum. Aenean eleifend lobortis nisi,</p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 fp-about-item">
                <h3>The title</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dictum felis quis urna blandit, a mollis libero dictum. Aenean eleifend lobortis nisi,</p>
            </div>
        </div>
    </div>
</div>
<!--<section style="max-width: none;" class="fp-some-section">
    <div class="info-card contentRow">
        <h3>INFORMATION FOR YOU + A NICE ICON!!!<i class="fa fa-wheelchair-alt fa-2x" style="margin-left:40px;"></i></h3>
    </div>
</section>-->
