<div class="fp-header">
    <div class="hero-text-box text-center">
        <h1>UNIFACTO</h1>
        <h2>Et eller andet her</h2>
        <button type="button" class="btn btn-lg btn-primary" style="width:50%;margin-top:40px;">Start dit konsulent arbejde her!</button>
        <!--<a class="btn btn-full js--scroll-to-plans" href="#">I'm hungry</a>
        <a class="btn btn-ghost js--scroll-to-start" href="#">Show me more</a>-->
    </div>
</div>

<div class="fp-how-it-works">
    <h2 class="heading2">Hvordan virker det?</h2>
    <div style="display:flex;justify-content:space-around;">
        <button type="button" class="btn btn-lg btn-primary" style="width:300px">For studerende</button>
        <button type="button" class="btn btn-lg btn-primary" style="width:300px">For virksomheder</button>
    </div>
</div>

<div class="fp-tasks">
    <h2 class="heading2">Nyeste opgaver</h2>
    <task-list [tasks]="latestTasks"></task-list>
</div>

<!--<section id="fp-about">
    <div class="container-fluid contentRow">
        <div class="row">
            <h2 class="heading2">What is CaseSite?</h2>
            <p class="long-copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dictum felis quis urna blandit, a mollis libero dictum. 
            Aenean eleifend lobortis nisi, ac convallis mi sagittis a. Aenean vel convallis mauris. Phasellus sit amet faucibus enim. 
            Aenean lectus tellus, facilisis ut neque quis, vehicula viverra nisi.</p>           
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12 fp-about-item">
                <h3>Quite a title</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dictum felis quis urna blandit, a mollis libero dictum. Aenean eleifend lobortis nisi,</p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 fp-about-item">
                <h3>Such a title</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dictum felis quis urna blandit, a mollis libero dictum. Aenean eleifend lobortis nisi,</p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 fp-about-item">
                <h3>Much title</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dictum felis quis urna blandit, a mollis libero dictum. Aenean eleifend lobortis nisi,</p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 fp-about-item">
                <h3>The title</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dictum felis quis urna blandit, a mollis libero dictum. Aenean eleifend lobortis nisi,</p>
            </div>
        </div>
    </div>
</section>
<section style="max-width: none;" id="fp-some-section">
    <div class="info-card contentRow">
        <h3>INFORMATION FOR YOU + A NICE ICON!!!<i class="fa fa-wheelchair-alt fa-2x" style="margin-left:40px;"></i></h3>
    </div>
</section>-->
