<div class="hiw-header">
    <div class="contentRow">
        <h2 class="hiw-header-title">Hvordan Unifacto virker</h2>
    </div>
</div>

<div class="hiw-content">
    <div class="container-fluid contentRow">
        <div class="row">
            <div class="col-xs-12 text-center" style="padding: 0;">
                <div class="col-sm-6 text">
                    <h2>Opgaverne</h2>
                    <p>Når du som studerende vil løse en opgave, vil dit første møde med opgaven, være opgavekortet. På opgavekortet kan du se opgavens titel og type, samt hvilken virksomhed der har lagt opgaven op. Derudover vil der på kortet være markeret hvor opgaven skal løses (hos virksomheden eller hjemme), hvilken type belønning der er tale om, samt opgavens deadline.</p>
                    <p>De forskellige former for belønning du som studerende kan modtage, hvis dit løsningsforslag bliver valgt som det bedste af virksomheden, vil være honorar, gave eller en anbefaling, som hvert er markeret med et ikon og deres værdi. Derudover er timeløn også en belønnings mulighed, dette kan dog kun ske ved opgaver udarbejdet hos virksomheden.</p>
                </div>
                <div class="col-sm-6 img" style="padding: 0">
                    <img src="../../../wwwroot/assets/images/opgave.png" alt="" />
                </div>
            </div>
        </div>
    </div>
    <div class="hiw-background">
        <div class="container-fluid contentRow">
            <div class="row">
                <div class="col-xs-6 col-sm-3 ikon">
                    <i class="fa fa-money"></i>
                    <p>Honorar</p>
                </div>
                <div class="col-xs-6 col-sm-3 ikon">
                    <i class="fa fa-gift"></i>
                    <p>Gave</p>
                </div>
                <div class="col-xs-6 col-sm-3 ikon">
                    <i class="fa fa-file-text"></i>
                    <p>Anbefaling</p>
                </div>
                <div class="col-xs-6 col-sm-3 ikon">
                    <i class="fa fa-clock-o"></i>
                    <p>Timeløn</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="hiw-content">
    <div class="contentRow">
        <h3 class="hiw-headers heading2">Når du udarbejder løsningsforslag hjemmefra</h3>
        <div class="hiw-steps">
            <hiw-step-three
                            *ngFor="let ah of atHome"
                            [number]="ah.number"
                            [title]="ah.title"
                            [description]="ah.description">
            </hiw-step-three>
        </div>
    </div>

    <div class="hiw-background">
        <div class="hiw-info contentRow">
            <h2>Vær opmærksom på</h2>

            <div>
                <p>Ved udarbejdelse af løsningsforslaget hjemmefra er du ikke garanteret en belønning. Som studerende arbejder du som en selvstændig konsulent, hvilket betyder, at du konkurrerer mod andre studerende/konsulenter om at udarbejde det bedste løsningsforslag.</p>

                <p>Virksomheden har efter udløb af deadlinen fem arbejdsdage til at udvælge det bedste løsningsforslag. Du kan under ’Mine uploads’ se status på de enkelte opgaver, du kan se om der er fundet en vinder og i så fald om det er dig.</p>

                <p>Hvis du er udvalgt som den studerende med det bedste løsningsforslag, vil du blive kontaktet angående din belønning. Belønningen modtages inden for 10 arbejdsdage efter endt deadline.</p>

                <p>Vær opmærksom på, at Unifacto fralægger sig alt ansvar hvad angår virksomhedens og opgavens eksistens samt belønningens form og udbetaling.</p>
            </div>

        </div>
    </div>    

    <div class="contentRow">
        <h3 class="hiw-headers heading2">Når du udarbejder løsningsforslag hos virksomheden</h3>
        <div class="hiw-steps">
            <hiw-step-four
                           *ngFor="let ab of atBusiness"
                           [number]="ab.number"
                           [title]="ab.title"
                           [description]="ab.description">
            </hiw-step-four>
        </div>
    </div>
        
    <div class="hiw-background">
        <div class="hiw-info contentRow">
            <h2>Vær opmærksom på</h2>
            <div>
                <p>Ved udarbejdelse af løsningsforslaget hos virksomheden skal du ansøge om at arbejde hos virksomheden. Du konkurrerer derfor mod andre studerende om at udarbejde løsningsforslaget hos virksomheden. Vær opmærksom på at virksomhedens opstillede retningslinjer og regler skal overholdes, såfremt du bliver udvalgt.</p>

                <p>Virksomheden har fem arbejdsdage til at udvælge den bedste kandidat efter deadlinens udløb. Du kan under ’Mine løsningsforslag’ se status på de enkelte opgaver, du kan se om der er fundet en vinder og i så fald om det er dig.</p>

                <p>Belønningen gives inden for 10 arbejdsdage, efter samarbejdssforløbet er afsluttet.</p>

                <p>Vær opmærksom på, at Unifacto fralægger sig alt ansvar hvad angår virksomhedens og opgavens eksistens, samt belønningens form og udbetaling.</p>
            </div>
        </div>
        <div class="hiw-get-started contentRow">
            <a routerLink="/tasks" class="butn butn-full hiw-btn">Start dit konsulentarbejde nu!</a>
        </div>
    </div> 
</div>


