<div class="hiw-header">
    <div class="contentRow">
        <h2 class="hiw-header-title">Hvordan Unifacto virker</h2>
    </div>
</div>

<div class="container-fluid contentRow">
    <div class="hiw-content">
        <h3 class="hiw-headers heading2">Når du udarbejder løsningsforslag hjemmefra</h3>
        <div class="hiw-home">
            <div class="hiw-step-home">
                <div class="hiw-circle">
                    <p class="hiw-step-number">1</p>
                    <p class="hiw-title">Udarbejd <br />løsningsforslag</p>
                </div>
                <div class="hiw-description">
                    <p>Udarbejd dit løsningsforslag til virksomhedens opstillede opgave.</p>
                </div>
            </div>
            <div class="hiw-step-home">
                <div class="hiw-circle">
                    <p class="hiw-step-number">2</p>
                    <p class="hiw-title">Indsend <br /> løsningsforslaget</p>
                </div>
                <div class="hiw-description">
                    <p>Efter udarbejdelsen af løsningsforslaget indsendes løsningsforslaget til virksomheden.</p>
                </div>
            </div>
            <div class="hiw-step-home">
                <div class="hiw-circle">
                    <p class="hiw-step-number">3</p>
                    <p class="hiw-title">Modtag belønning af virksomheden</p>
                </div>
                <div class="hiw-description">
                    <p>Når deadline er udløbet vælger virksomheden den bedste løsning. Den studerende bag løsningsforslaget modtager den angivne belønning fra virksomheden.</p>
                </div>
            </div>
        </div>

        <div class="hiw-info">
            <h2>Vær opmærksom på</h2>

            <div>
                <p>Ved udarbejdelse af løsningsforslaget hjemmefra er du ikke garanteret en belønning. Som studerende arbejder du som en selvstændig konsulent, hvilket betyder, at du konkurrerer mod andre studerende/konsulenter om at udarbejde det bedste løsningsforslag.</p>

                <p>Virksomheden har efter udløb af deadlinen fem arbejdsdage til at udvælge det bedste løsningsforslag. Såfremt du ikke har modtaget et svar fra virksomheden inden for fem arbejdsdage betyder dette, at du ikke er blevet udvalgt som den studerende med det bedste løsningsforslag.</p>

                <p>Hvis du er udvalgt som den studerende, med det bedste løsningsforslag, vil du modtage belønningen inden for 10 arbejdsdage efter deadlinen.</p>

                <p>Vær opmærksom på, at Unifacto fralægger sig alt ansvar hvad angår virksomhedens og opgavens eksistens samt belønningens form og udbetaling.</p>
            </div>

        </div>

        <h3 class="hiw-headers heading2">Når du udarbejder løsningsforslag hos virksomheden</h3>
        <div class="hiw-business">
            <div class="hiw-step-business">
                <div class="hiw-circle">
                    <p class="hiw-step-number">1</p>
                    <p class="hiw-title">Ansøg hos <br /> virksomheden</p>
                </div>
                <div class="hiw-description">
                    <p>Indsend din ansøgning til virksomheden og forklar hvorfor virksomheden skal vælge netop dig til at udarbejde løsningsforslaget i samarbejde med virksomheden.</p>
                </div>
            </div>
            <div class="hiw-step-business">
                <div class="hiw-circle">
                    <p class="hiw-step-number">2</p>
                    <p class="hiw-title">Virksomheden <br /> vælger dig</p>
                </div>
                <div class="hiw-description">
                    <p>Virksomheden gennemgår de indsendte ansøgninger, hvorefter den udvælger en eller flere studerende.</p>
                </div>
            </div>
            <div class="hiw-step-business">
                <div class="hiw-circle">
                    <p class="hiw-step-number">3</p>
                    <p class="hiw-title">Du udarbejder løsningsforslaget</p>
                </div>
                <div class="hiw-description">
                    <p>Hvis du er blevet udvalgt, begynder du udarbejdelsen af løsningsforslaget hos virksomheden.</p>
                </div>
            </div>
            <div class="hiw-step-business">
                <div class="hiw-circle">
                    <p class="hiw-step-number">4</p>
                    <p class="hiw-title">Modtag belønning af virksomheden</p>
                </div>
                <div class="hiw-description">
                    <p>Når du har gennemført perioden hos virksomheden og udarbejdet løsningsforslaget, vil du modtage den oplyste belønning fra virksomheden.</p>
                </div>
            </div>
        </div>
        <div class="hiw-info">
            <h2>Vær opmærksom på</h2>
            <div>
                <p>Ved udarbejdelse af løsningsforslaget hos virksomheden skal du ansøge om, at arbejde hos virksomheden. Du konkurrerer derfor mod andre studerende om, at udarbejde løsningsforslaget hos virksomheden. Vær opmærksom på, at virksomhedens opstillede retningslinjer og regler skal overholdes, såfremt du bliver udvalgt.</p>

                <p>Virksomheden har fem arbejdsdage til at udvælge den/de bedste kandidater efter deadlinens udløb. Såfremt du ikke har modtaget et svar fra virksomheden inden for fem arbejdsdage betyder dette, at du desværre ikke er blevet udvalgt.</p>

                <p>Belønningen gives inden for 10 arbejdsdage, efter samarbejdssforløbet er afsluttet.</p>

                <p>Vær opmærksom på, at Unifacto fralægger sig alt ansvar hvad angår virksomhedens og opgavens eksistens, samt belønningens form og udbetaling.</p>
            </div>

        </div>
        <div class="hiw-get-started">
            <a routerLink="/tasks" class="butn butn-full hiw-btn">Start dit konsulentarbejde nu!</a>
        </div>
    </div>
</div>

