<div class="hiw-header">
    <div class="contentRow">
        <h2 class="hiw-header-title">Hvordan Unifacto virker</h2>
    </div>
</div>

<div class="container-fluid contentRow">
    <div class="hiw-content">
        <h3 class="hiw-headers heading2"> Udarbejd løsningsforslag hjemmefra</h3>
        <div class="hiw-home">
            <div class="hiw-step-home">
                <div class="hiw-circle">
                    <p class="hiw-step-number">1</p>
                    <p class="hiw-title">Udarbejd <br />løsningsforslag</p>
                </div>
                <div class="hiw-description">
                    <p>Udarbejd dit løsningsforslag til virksomhedens opstillede opgave.</p>
                </div>
            </div>
            <div class="hiw-step-home">
                <div class="hiw-circle">
                    <p class="hiw-step-number">2</p>
                    <p class="hiw-title">Indsend <br /> løsningsforslaget</p>
                </div>
                <div class="hiw-description">
                    <p>Efter udarbejdelsen af løsningsforslaget, indsendes løsningsforslaget til virksomheden.</p>
                </div>
            </div>
            <div class="hiw-step-home">
                <div class="hiw-circle">
                    <p class="hiw-step-number">3</p>
                    <p class="hiw-title">Modtag belønning af virksomheden</p>
                </div>
                <div class="hiw-description">
                    <p>Når deadline er overskredet vælger virksomheden den bedste løsning. Bedste løsningsforslag får den angivne belønning fra virksomheden.</p>
                </div>
            </div>
        </div>

        <div class="hiw-info">
            <h2>Vær opmærksom på</h2>
            <p>Ved udarbejdelse af løsningsforslag hjemmefra er du ikke garanteret en belønning. Som studerende arbejder du som selvstændig konsulent, hvilket betyder, at du kæmper mod andre studerende/konsulenter om at skabe det bedste løsningsforslag til virksomhedens opstillede opgave eller problemstilling. </p>
        </div>

        <h3 class="hiw-headers heading2">Udarbejd løsningsforslag hos virksomheden</h3>
        <div class="hiw-business">
            <div class="hiw-step-business">
                <div class="hiw-circle">
                    <p class="hiw-step-number">1</p>
                    <p class="hiw-title">Ansøg hos <br /> virksomheden</p>
                </div>
                <div class="hiw-description">
                    <p>Indsend din ansøgning til virksomheden og forklar hvorfor virksomheden netop skal vælge dig til at udarbejde løsningsforslaget i samarbejde med virksomheden.</p>
                </div>
            </div>
            <div class="hiw-step-business">
                <div class="hiw-circle">
                    <p class="hiw-step-number">2</p>
                    <p class="hiw-title">Virksomheden <br /> vælger dig</p>
                </div>
                <div class="hiw-description">
                    <p>Virksomheden gennemgår de indsendte ansøgninger, hvorefter den udvælger en eller flere studerende.</p>
                </div>
            </div>
            <div class="hiw-step-business">
                <div class="hiw-circle">
                    <p class="hiw-step-number">3</p>
                    <p class="hiw-title">Du udarbejder løsningsforslaget</p>
                </div>
                <div class="hiw-description">
                    <p>Hvis du er blevet udvalgt, begynder du udarbejdelsen af løsningsforslaget hos virksomheden.</p>
                </div>
            </div>
            <div class="hiw-step-business">
                <div class="hiw-circle">
                    <p class="hiw-step-number">4</p>
                    <p class="hiw-title">Modtag belønning af virksomheden</p>
                </div>
                <div class="hiw-description">
                    <p>Når du har gennemført perioden hos virksomheden og færdiggjort et løsningsforslag, vil du modtage den angivne belønning fra virksomheden.</p>
                </div>
            </div>
        </div>
        <div class="hiw-info">
            <h2>Vær opmærksom på</h2>
            <p>Bjørne</p>
        </div>
        <div class="hiw-get-started">
            <a routerLink="/tasks" class="butn butn-full hiw-btn">Start dit konsulent arbejde nu</a>
        </div>
    </div>
</div>

