.form-feedback {
    color: #e51c23;
    font-size: 14px;
}

.terms-box {
    width: 90%;
    height: 500px;
    display: block;
    margin-top:75px;
}

.terms-content {
    height: calc(-56px + 100%);
    overflow: scroll;
    overflow-x: hidden;
    font-size: 14px;
}

.terms-cb {
    font-size: 16px;
}

.tc-title {
    font-weight: bold;
    font-size: 120%;
}

.tc-header {
    font-weight: 500;
    font-size: 110%;
}

.tc-subheader {
    font-style: italic;
    font-weight: 300;
}