<div class="container-fluid contentRow">
    <div class="row">
        <h3 class="heading1" style="margin-right:15px;margin-left:15px;margin-bottom:0;">Opret virksomhed</h3>
        <form novalidate (ngSubmit)="onSubmit()" #f="ngForm">
            <div class="col-md-6 col-sm-6 col-xs-12" style="margin-top: 50px;">

                <div class="form-group"
                     [ngClass]="{
                         'has-error': name.invalid && (name.dirty || name.touched),
                         'has-success': name.valid && (name.dirty || name.touched)
                         }">
                    <label for="name" class="control-label">Virksomhedens navn *</label>
                    <input type="text" id="name" class="form-control" name="name" [(ngModel)]="model.name" #name="ngModel" required />
                    <div class="form-feedback" *ngIf="name.errors && (name.dirty || name.touched)">
                        <p *ngIf="name.errors.required">Virksomhedens navn skal udfyldes</p>
                    </div>
                </div>

                <div class="form-group"
                     [ngClass]="{
                         'has-error': username.invalid && (username.dirty || username.touched),
                         'has-success': username.valid && (username.dirty || username.touched)
                         }">
                    <label for="username" class="control-label">Brugernavn *</label>
                    <input type="text" id="username" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required />
                    <div class="form-feedback" *ngIf="username.errors && (username.dirty || username.touched)">
                        <p *ngIf="username.errors.required">Brugernavn skal udfyldes</p>
                    </div>
                </div>

                <div class="form-group"
                     [ngClass]="{
                            'has-error': email.invalid && (email.dirty || email.touched),
                            'has-success': email.valid && (email.dirty || email.touched)
                        }">
                    <label for="email" class="control-label">Email *</label>
                    <input type="email"
                           class="form-control"
                           name="email"
                           id="email"
                           [(ngModel)]="model.email"
                           required
                           pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)+$"
                           #email="ngModel">
                    <div class="form-feedback"
                         *ngIf="email.errors && (email.dirty || email.touched)">
                        <p *ngIf="email.errors.required">Email skal være udfyldt</p>
                        <p *ngIf="email.errors.pattern">Emailen skal være på formen test@test.test</p>
                    </div>
                </div>

                <div class="form-group"
                        [ngClass]="{
                        'has-error': city.invalid && (city.dirty || city.touched),
                        'has-success': city.valid && (city.dirty || city.touched)
                        }">
                    <label for="city" class="control-label">By *</label>
                    <!--<em class="form-feedback" *ngIf="title.errors.required">Skal udfyldes</em>-->
                    <input type="text" id="city" class="form-control" name="city" [(ngModel)]="model.city" #city="ngModel" required />
                    <div class="form-feedback" *ngIf="city.errors && (city.dirty || city.touched)">
                        <p *ngIf="city.errors.required">Byen skal udfyldes</p>
                    </div>
                </div>

                <div class="form-group"
                        [ngClass]="{
                        'has-error': zip.invalid && (zip.dirty || zip.touched),
                        'has-success': zip.valid && (zip.dirty || zip.touched)
                        }">
                    <label for="zip" class="control-label">Postnummer *</label>
                    <input type="number" min="0" max="9999" class="form-control" id="zip" name="zip" [(ngModel)]="model.zip" #zip="ngModel" required />
                    <div class="form-feedback" *ngIf="zip.errors && (zip.dirty || zip.touched)">
                        <p *ngIf="zip.errors.required">Postnummeret skal udfyldes</p>
                    </div>
                </div>

                <div class="form-group"
                     [ngClass]="{
                         'has-error': address.invalid && (address.dirty || address.touched),
                         'has-success': address.valid && (address.dirty || address.touched)
                         }">
                    <label for="address" class="control-label">Vejnavn og nummer *</label>
                    <!--<em class="form-feedback" *ngIf="title.errors.required">Skal udfyldes</em>-->
                    <input type="text" id="address" class="form-control" name="address" [(ngModel)]="model.address" #address="ngModel" required />
                    <div class="form-feedback" *ngIf="address.errors && (address.dirty || address.touched)">
                        <p *ngIf="address.errors.required">Vejnavn og nummer skal udfyldes</p>
                    </div>
                </div>

                <div class="form-group"
                     [ngClass]="{
                            'has-error': password.invalid && (password.dirty || password.touched),
                            'has-success': password.valid && (password.dirty || password.touched)
                        }">
                    <label for="password" class="control-label">Adgangskode *</label>
                    <input type="password"
                           class="form-control"
                           id="password"
                           name="password"
                           [(ngModel)]="model.password"
                           pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,}$"
                           validateEqual="confirmPassword"
                           reverse="true"
                           required
                           #password="ngModel">
                    <div class="form-feedback"
                         *ngIf="password.errors && (password.dirty || password.touched)">
                        <p *ngIf="password.errors.required">Adgangskoden skal udfyldes</p>
                        <p *ngIf="password.errors.pattern">Adgangskoden skal være minimum 8 tegn og indeholde et tal og et stort bogstav</p>
                    </div>
                </div>
                <div class="form-group"
                     [ngClass]="{
                            'has-error': confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched),
                            'has-success': confirmPassword.valid && (confirmPassword.dirty || confirmPassword.touched)
                        }">
                    <label for="confirmPassword" class="control-label">Gentag adgangskode *</label>
                    <input type="password"
                           class="form-control"
                           id="confirmPassword"
                           name="confirmPassword"
                           [(ngModel)]="model.confirmPassword"
                           validateEqual="password"
                           required
                           #confirmPassword="ngModel">
                    <div class="form-feedback"
                         *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
                        <p>Adgangskodenerne skal være ens</p>
                    </div>
                </div>

                <div class="form-group"
                     [ngClass]="{
                            'has-error': description.invalid && (description.dirty || description.touched),
                            'has-success': description.valid && (description.dirty || description.touched)
                        }">
                    <label for="textArea" class="control-label">Virksomhedsbeskrivelse * 
                        <span class="fa-stack" style="font-size:10px;" tooltip="Beskriv din virksomhed med maksimalt 700 tegn inkl. mellemrum">
                            <i class="fa fa-circle fa-stack-2x" style="color:#006699"></i>
                            <i class="fa fa-info fa-stack-1x fa-inverse"></i>
                        </span>
                    </label>
                    <textarea style="resize:none;" class="form-control" rows="5" id="textArea" name="description" [(ngModel)]="model.description" #description="ngModel" maxlength="700" required></textarea>
                    <span class="help-block" style="font-size:16px;">Fortæl om virksomheden og hvad I arbejder med. Maksimalt 700 tegn inkl. mellemrum.</span>
                    <div class="form-feedback"
                         *ngIf="description.errors && (description.dirty || description.touched)">
                        <p *ngIf="description.errors.required">Giv venligst en kort beskrivelse af din virksomhed</p>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="logo" class="control-label">Logo</label>
                        <input type="file" id="logo" name="logo" value="Upload logo" (change)="fileChange($event)">
                        <p class="help-block" style="font-size:16px;">Upload virksomhedens logo, som vil blive vist på opslåede opgaver.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12 img-preview">
                    <div class="img-container" *ngIf="filePreviewPath">
                        <img [src]="filePreviewPath" />
                    </div>
                </div>
                
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12" style="display:flex;justify-content:center;flex-wrap: wrap;">
                <div class="terms-box panel panel-default">
                    <div class="panel-heading" style="background-color:#006699; color:white;">Brugerbetingelser</div>
                    <div class="terms-content panel-body">
                        <p class="tc-title">Når I opretter virksomheden accepterer I følgende brugerbetingelser:</p>
                        <p class="tc-header">Oprettelse og fjernelse af virksomhed:</p>
                        <ul>
                            <li>I bekræfter at jeres indtastede oplysninger er korrekte for virksomheden og at den eksisterer.</li>
                            <li>Hvis I ønsker at fjerne virksomhedsprofilen kan dette først ske efter, at alle igangværende opgaver er udløbet.</li>
                        </ul>
                        <p class="tc-header">Oprettelse af opgave:</p>
                        <ul>
                            <li>Opgaven skal være kommunikations- og marketingsrelateret.</li>
                            <li>Gavekortet skal kunne bruges og have relevans uafhængigt af køn og alder.</li>
                            <li>Transaktions- og forsendelsesomkostninger dækkes af virksomheden, og det skal ikke indgå i værdien af pengepræmien eller gavekortet.</li>
                            <li>I kan ikke slette opgaven efter oprettelsen.</li>
                            <li>I kan ikke ændre pengepræmien, gavekortets værdi eller deadlinen efter oprettelsen af opgaven. Såfremt der opstår fejl eller problemer med oprettelsen, kontakt da venligst supporten på info@unifacto.com. </li>
                        </ul>
                        <p class="tc-header">Deadlinen er overskredet:</p>
                        <p class="tc-subheader">Udarbejdelse af opgaven hjemme hos den studerende</p>
                        <ul>
                            <li>Pengepræmien, gavekortet eller anbefalingen skal være den studerende i hænde inden for 10 arbejdsdage efter modtagelsen af løsningsforslagene.</li>
                            <li>Efter deadlinen af løsningsforslagene har I fem arbejdsdage til at finde det bedste løsningsforslag og orientere den studerende, med det bedste løsningsforslag, om jeres valg. Desuden skal Unifacto orienteres om hvem der udarbejdede det bedste løsningsforslag samt antallet af løsningsforslag.</li>
                            <li>Uanset antallet af løsningsforslag og indholdet af dem skal der gives en belønning.</li>
                        </ul>
                        <p class="tc-subheader">Udarbejdelse af opgaven hos jer</p>
                        <ul>
                            <li>Ved ansøgninger om at udarbejde løsningsforslaget hos jer, skal I vælge en eller flere ansøgere inden for fem dage efter deadlinen. Unifacto skal orienteres om hvem den/de udvalgte studerende er, samt skal der tilsendes en kort beskrivelse af udarbejdelsesforløbet, når det er afsluttet, til os.</li>
                            <li>Pengepræmien, gavekortet eller anbefalingen skal gives til den/de udvalgte studerende inden for 10 arbejdsdage efter at udarbejdelsesforløbet er afsluttet.</li>
                            <li>Hvis I udvælger en studerende som skal udføre en opgave hos jer, skal aftalerne og belønningen overholdes mellem jer og den studerende.</li>
                        </ul>
                        <p class="tc-header">Markedsføring:</p>
                        <ul>
                            <li>I indvilliger i, at alle opgaver kan blive brugt i marketingssammenhæng for at promovere Unifacto. </li>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox terms-cb">
                        <label>
                            <input type="checkbox" name="isAccepted" [(ngModel)]="isAccepted"> Jeg accepterer brugerbetingelserne
                        </label>
                    </div>
                </div>               
            </div>
            <div class="col-md-12" style="display:flex;justify-content:center;flex-wrap:wrap;margin: 10px 0;">
                <button type="submit" class="btn btn-primary btn-lg" [disabled]="f.invalid || !isAccepted" style="margin-bottom:20px">Opret virksomhed</button>
            </div>
        </form>
    </div>
</div>
              