<h2>Løsningsforslag</h2>

<div class="col-xs-12 control-bar">
    <div class="col-xs-12 search">
        <form method="post" action="?">
            <input type="search" name="search" [(ngModel)]="query" class="search-input" placeholder="Søg..." />
            <button type="submit" (click)="search()" class="search-btn">Søg</button>
        </form>
    </div>
</div>

<table class="table table-striped" *ngIf="solutions">
    <thead>
        <tr>
            <th>#</th>
            <th>Navn</th>
            <th>Opgave titel</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let s of solutions">
            <td>{{ s.id }}</td>
            <td>{{ s.student.firstname }} {{ s.student.lastname }}</td>
            <td>{{ s.task.title }}</td>
            <td><button type="button" class="btn btn-primary btn-sm" (click)="gotoSolution(s.studentId, s.taskId)"><i class="fa fa-pencil"></i></button></td>
        </tr>
    </tbody>
</table>