<div class="container-fluid">
    <div class="row">
        <form class="form-content">
            <div class="col-md-12 job-search-bar">

                    <input type="search" class="job-search-input" placeholder="Søg..." />

                    <button class="btn-default btn-filter" type="button" data-toggle="collapse" data-target="#filterbox" aria-expanded="false" aria-controls="filterbox">
                        <i class="fa fa-caret-down fa"></i>
                    </button>

                    <button class="btn-primary btn-search"><i class="fa fa-search fa-lg"></i></button>

            </div>
            <div class="col-md-12 col-sm-12" style="padding-left:0;padding-right:0;">
                <div class="collapse" id="filterbox">
                    <div class="col-md-12 col-sm-12 filterbox-content">
                        <div class="col-md-6 col-sm-6" style="padding:0;">
                            <h4>Job type</h4>
                            <div class="form-group flexbox-newline">
                                <div class="checkbox flexitem">
                                    <label><input type="checkbox" id="foo">Grafiske Opgaver</label>
                                </div>
                                <div class="checkbox flexitem">
                                    <label><input type="checkbox" id="bar">Video Opgaver</label>
                                </div>
                                <div class="checkbox flexitem">
                                    <label><input type="checkbox" id="baz">Event Opgaver</label>
                                </div>
                                <div class="checkbox flexitem">
                                    <label><input type="checkbox" id="foo">Strategiske Opgaver</label>
                                </div>
                                <div class="checkbox flexitem">
                                    <label><input type="checkbox" id="bar">Målgruppeanalyser</label>
                                </div>
                                <div class="checkbox flexitem">
                                    <label><input type="checkbox" id="baz">Dataanalyser</label>
                                </div>
                            </div>
                            <h4>Arbejds sted</h4>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label><input type="checkbox" id="foo">Arbejde Ude</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" id="bar">Arbejde Hjemme</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" id="baz">Begge</label>
                                </div>
                            </div>
                        </div>
                        <h4>Område</h4>
                        <div class="col-md-6 col-sm-6" style="padding:0;">
                            <select class="form-control">
                                <option>9000 Aalborg</option>
                                <option>9200 Aalborg SV</option>
                                <option>9210 Aalborg SØ</option>
                                <option>9220 Aalborg Ø</option>
                                <option>9230 Svenstrup</option>
                                <option>9240 Nibe</option>
                                <option>9260 Gistrup</option>
                                <option>9270 Klarup</option>
                                <option>9280 Storvorde</option>
                                <option>9293 Kongerslev</option>
                                <option>9300 Sæby</option>
                                <option>9310 Vodskov</option>
                                <option>9320 Hjallerup</option>
                                <option>9330 Dronninglund</option>
                                <option>9352 Dybvad</option>
                                <option>9362 Gandrup</option>
                                <option>9370 Hals</option>
                                <option>9380 Vestbjerg</option>
                                <option>9382 Tylstrup</option>
                                <option>9400 Nørresundby</option>
                            </select>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label><input type="checkbox" id="foo">Hele Danmark</label>
                                </div>
                            </div>
                            <h4>Præmie type</h4>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label><input type="checkbox" id="foo">Penge</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" id="bar">Gavekort</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox" id="baz">Erfaring</label>
                                </div>
                            </div>
                        </div>
                    </div>                                                                    
                </div>
            </div>
        </form>
    </div>
</div>