footer {
    background-color: #333;
    padding: 50px;
    font-size: 80%;
}

ul {
    padding: 0;
}

.footer-nav {
    list-style: none;
}

.social-links {
    list-style: none;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.4s;
    transition: color 0.4s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}

.social-facebook,
.social-twitter,
.social-snapchat,
.social-instagram,
.social-linkedin{
    -webkit-transition: color 0.4s;
    transition: color 0.4s;
}

.social-facebook:hover {
    color: #3b5998;
}

.social-twitter:hover {
    color: #00aced;
}

.social-snapchat:hover {
    color: #FFEB3B;
}

.social-instagram:hover {
    color: #8a3ab9;
}

.social-linkedin:hover {
    color: #0077b5;
}


footer p {
    color: #888;
    text-align: center;
    margin-top: 20px;
}
