<footer>
    <div class="container-fluid contentRow">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <ul class="footer-nav text-center">
                        <li><a href="#">Om os</a></li>
                        <li><a href="#">Samarbejdspartnere</a></li>
                        <li><a routerLink="/tasks">Opgaver</a></li>
                        <li><a href="#">Kontakt</a></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="social-links text-center">
                        <li><a href="#" class="social-facebook"><i class="fa fa-facebook fa-lg social-facebook"></i></a></li>
                        <li><a href="#" class="social-instagram"><i class="fa fa-instagram fa-lg social-instagram"></i></a></li>
                        <li><a href="#" class="social-linkedin"><i class="fa fa-linkedin fa-lg social-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p class="text-center">
                    Copyright &copy; 2017 by CaseSite. All rights reserved.
                </p>
            </div>
        </div>
    </div>
</footer>
