<footer>
    <div class="footer">
        <div class="contentRow footer-content">
            <div class="footer-links">
                <p class="footer-header">Nyttige links</p>
                <ul>
                    <li><a routerLink="/tasks">Opgaver</a></li>
                    <li><a routerLink="/about">Om os</a></li>
                    <li><a routerLink="/terms">Brugerbetingelser</a></li>
                    <li><a routerLink="/contact">Kontakt</a></li>
                    <li><a routerLink="/faq">FAQ</a></li>
                </ul>
            </div>
            <div class="footer-contact-info">
                <p class="footer-header">Kotaktinformation</p>
                <ul>
                    <li>info@unifacto.com</li>
                    <li>72 69 15 59</li>
                    <li>Kastetvej 28 st TV, 9000 Aalborg</li>
                    <li>CVR: 38771388</li>
                </ul>
            </div>
            <div class="footer-social-links">
                <a href="https://www.facebook.com/UnifactoDK/" target="_blank" class="social-facebook"><i class="fa fa-facebook fa-lg"></i></a>
                <a href="https://www.linkedin.com/company-beta/18140400/" target="_blank" class="social-linkedin"><i class="fa fa-linkedin fa-lg"></i></a>
                <a href="https://www.instagram.com/unifactodk/" target="_blank" class="social-instagram"><i class="fa fa-instagram fa-lg"></i></a>
            </div>
        </div>
    </div> 
    <div class="footer-bottom">
        <div class="contentRow">
            <p>Copyright &copy; 2017 by Unifacto. All rights reserved.</p>
        </div>
    </div>
</footer>
