<footer>
    <div class="container-fluid contentRow">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <ul class="footer-nav text-center">
                        <li><a routerLink="/about">Om os</a></li>
                        <li><a routerLink="/contact">Kontakt</a></li>
                        <li><a routerLink="/team">#Holdet</a></li>
                        <li><a routerLink="/tasks">Opgaver</a></li>
                        <li><a routerLink="/terms">Brugerbetingelser</a></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="social-links text-center">
                        <li><a href="https://www.facebook.com/UnifactoDK/" target="_blank" class="social-facebook"><i class="fa fa-facebook fa-lg social-facebook"></i></a></li>
                        <li><a href="https://www.instagram.com/unifactodk/" target="_blank" class="social-instagram"><i class="fa fa-instagram fa-lg social-instagram"></i></a></li>
                        <li><a href="#" class="social-linkedin"><i class="fa fa-linkedin fa-lg social-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p class="text-center">
                    Copyright &copy; 2017 by Unifacto. All rights reserved.
                </p>
            </div>
        </div>
    </div>
</footer>
