<div class="terms-header">
    <div class="contentRow">
        <h1 class="terms-title">Brugerbetingelser</h1>
    </div>
</div>

<div class="terms-content">
    <div class="container-fluid contentRow">
        <h2>Virksomhed</h2>
        <p class="tc-title">Når I opretter virksomheden accepterer I følgende brugerbetingelser:</p>
        <p class="tc-header">Oprettelse og fjernelse af virksomhed:</p>
        <ul>
            <li>I bekræfter at jeres indtastede oplysninger er korrekte for virksomheden og at den eksisterer.</li>
            <li>Hvis I ønsker at fjerne virksomhedsprofilen kan dette først ske efter, at alle igangværende opgaver er udløbet.</li>
        </ul>
        <p class="tc-header">Oprettelse af opgave:</p>
        <ul>
            <li>Opgaven skal være kommunikations- og marketingsrelateret.</li>
            <li>Gavekortet skal kunne bruges og have relevans uafhængigt af køn og alder.</li>
            <li>Transaktions- og forsendelsesomkostninger dækkes af virksomheden, og det skal ikke indgå i værdien af pengepræmien eller gavekortet.</li>
            <li>I kan ikke slette opgaven efter oprettelsen.</li>
            <li>I kan ikke ændre pengepræmien, gavekortets værdi, timelønnen eller deadlinen efter oprettelsen af opgaven. Såfremt der opstår fejl eller problemer med oprettelsen, kontakt da venligst supporten på info@unifacto.com.</li>
        </ul>
        <p class="tc-header">Deadlinen er overskredet:</p>
        <p class="tc-subheader">Forslagsopgaver</p>
        <ul>
            <li>Pengepræmien, gavekortet eller anbefalingen skal være den studerende i hænde inden for 10 arbejdsdage efter modtagelsen af løsningsforslagene. Ved modtagelse af pengepræmie som belønning skal du huske at opgive dette som B-indkomst.</li>
            <li>Efter deadlinen af løsningsforslagene har I fem arbejdsdage til at finde det bedste løsningsforslag og orientere den studerende, med det bedste løsningsforslag, om jeres valg.</li>
            <li>Uanset antallet af løsningsforslag og indholdet af dem skal der gives en belønning.</li>
        </ul>
        <p class="tc-subheader">Ansøgningsopgaver</p>
        <ul>
            <li>Ved ansøgninger om at udarbejde løsningsforslaget i samarbejde med jer, skal I vælge en eller flere ansøgere inden for fem dage efter deadlinen.</li>
            <li>Såfremt, at der ikke er nogen ansøgninger som passer til jeres kriterier, er I ikke nødsaget til at vælge en studerende, som skal udarbejde løsningsforslaget hos jer.</li>
            <li>Pengepræmien, gavekortet, timelønnen eller anbefalingen skal gives til den/de udvalgte studerende inden for 10 arbejdsdage efter at udarbejdelsesforløbet er afsluttet. Ved modtagelse af pengepræmie som belønning skal du huske at opgive dette som B-indkomst.</li>
            <li>Hvis I udvælger en studerende, skal aftalerne og belønningen overholdes mellem jer og den studerende.</li>
        </ul>
        <p class="tc-header">Markedsføring:</p>
        <ul>
            <li>I indvilliger i, at alle opgaver kan blive brugt i marketingssammenhæng for at promovere Unifacto. </li>
        </ul>
    </div>
    
    <div class="container-fluid contentRow">
        <h2>Studerende</h2>
        <p class="tc-title">Når du opretter en bruger som studerende accepterer du følgende brugerbetingelser:</p>
        <p class="tc-header">Generelle betingelser:</p>
        <ul>
            <li>Når du tilmelder dig accepterer du at modtage e-mails fra Unifacto og kan til enhver tid afmeldes.</li>
        </ul>
        <p class="tc-header">Dataindsamling:</p>
        <ul>
            <li>Når du opretter en profil på Unifacto accepterer du, at dine personlige oplysninger vil blive lagret på Unifactos servere.</li>
            <li>Dine oplysninger behandles fortroligt og videregives ikke til en tredjemand uden din personlige accept.</li>
            <li>Unifacto indhenter din e-mail når du opretter dig som burger.</li>
            <li>Unifacto bruger cookies. Denne formalitet sikrer, at Unifacto husker din adgang til webstedet, derudover bruger vi cookies til statistik og webanalyse, så vi kan forbedre din brugeroplevelse og målrette indholdet til dine behov og interesser. Du kan deaktivere denne indstilling i internetbrowseren.</li>
            <li>Hver gang du besøger Unifacto vil din IP-adresse blive registreret.</li>
        </ul>
        <p class="tc-header">Ansøgningsopgaver:</p>
        <ul>
            <li>Unifacto står udelukkende for kontakten mellem den studerende og virksomheden. Derfor fralægger vi os ansvaret for udlevering af belønning.</li>
            <li>Unifacto er ikke ansvarlig for at virksomheden lever op til det der er beskrevet i opgavebeskrivelsen.</li>
            <li>Hvis der indgås en ansættelsesaftale mellem virksomheden og den studerende, er Unifacto ikke en del af ansættelsesforholdet og har ingen forpligtelser af ansættelsesret karakter.</li>
            <li>Unifacto er ikke ansvarlig for ansættelsesvilkårene eller virksomhedens overholdelse deraf.</li>
        </ul>
        <p class="tc-header">Forslagsopgaver:</p>
        <ul>
            <li>Unifacto står udelukkende for kontakten mellem den studerende og virksomheden. Derfor fralægger vi os ansvaret for udlevering af belønning.</li>
            <li>Unifacto er ikke ansvarlig for at virksomheden lever op til det der er beskrevet i opgavebeskrivelsen.</li>
            <li>Efter at du har uploadet løsningsforslaget har du ikke længere rettigheden for løsningsforslaget.</li>
        </ul>
    </div>
</div>
