<div class="fp-header">
    <div class="hero-text-box">
        <h1>CASES DELIVERED BY COMPANIES<br> SOLVED BY STUDENTS.</h1>
        <button type="button" class="btn btn-lg btn-default">Read more</button>
        <button type="button" class="btn btn-lg btn-warning">Sign me up</button>
        <!--<a class="btn btn-full js--scroll-to-plans" href="#">I'm hungry</a>
        <a class="btn btn-ghost js--scroll-to-start" href="#">Show me more</a>-->
    </div>
</div>

<section id="fp-about">
    <div class="container-fluid contentRow">
        <div class="row">
            <h2>What is CaseSite?</h2>
            <p class="long-copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dictum felis quis urna blandit, a mollis libero dictum. 
            Aenean eleifend lobortis nisi, ac convallis mi sagittis a. Aenean vel convallis mauris. Phasellus sit amet faucibus enim. 
            Aenean lectus tellus, facilisis ut neque quis, vehicula viverra nisi.</p>           
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12 fp-about-item">
                <h3>Quite a title</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dictum felis quis urna blandit, a mollis libero dictum. Aenean eleifend lobortis nisi,</p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 fp-about-item">
                <h3>Such a title</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dictum felis quis urna blandit, a mollis libero dictum. Aenean eleifend lobortis nisi,</p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 fp-about-item">
                <h3>Much title</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dictum felis quis urna blandit, a mollis libero dictum. Aenean eleifend lobortis nisi,</p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 fp-about-item">
                <h3>The title</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dictum felis quis urna blandit, a mollis libero dictum. Aenean eleifend lobortis nisi,</p>
            </div>
        </div>
    </div>
</section>