.btn-facebook {
    background-color: #337ab7;
    color: white;
    font-size: 18px;
    margin-bottom: 50px;
}

.btn-facebook:hover {
    background-color: #2d6a9f !important;
}

.btn-facebook:active,
.btn-facebook:focus,
.btn-facebook:visited {
    background-color: #337ab7;
    color: white;
    text-decoration: none;
}

.btn-facebook i {
    font-size: 24px;
    margin-right: 10px;
    margin-top: 5px;
}
