<div class="container-fluid contentRow">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 panel panel-default" style="margin-top:50px;"> 
            <div class="panel-body">
                <form novalidate (ngSubmit)="onLogin()" #f="ngForm">
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="form-group">
                            <label for="username" class="control-label">Brugernavn</label>
                            <input type="text" id="username" class="form-control" name="uname" [(ngModel)]="username" #uname="ngModel" required />
                        </div>
                        <div class="form-group">
                            <label for="password" class="control-label">Adgangskode</label>
                            <input type="password" id="password" class="form-control" name="pword" [(ngModel)]="password" #pword="ngModel" required />
                        </div>
                    </div>
                    <div class="col-sm-12 text-center">
                        <button type="submit" class="btn btn-primary btn">Login</button>
                    </div>
                </form>
                <div class="col-sm-6 col-xs-12 text-center">
                    <button (click)="newBusiness()" class="btn btn-link">Opret ny virksomhed</button>
                </div>
                <div class="col-sm-6 col-xs-12 text-center">
                    <button (click)="forgotPassword()" class="btn btn-link">Glemt din adgangskode?</button>
                </div>
            </div>
        </div>
    </div>
</div>