<div class="container-fluid contentRow" *ngIf="task && business">

    <div style="display:flex;justify-content:center;margin: 30px 0;" *ngIf="task.deadline > now">
        <button *ngIf="student && task.workPlace === '1'" type="button" class="btn btn-primary btn-lg" (click)="gotoUploadSolution(task.id)">Upload et løsningsforslag</button>
        <button *ngIf="!student && task.workPlace === '1'" type="button" class="btn btn-primary btn-lg" routerLink="/login">Log ind for at uploade løsningsforslag</button>

        <button *ngIf="student && task.workPlace === '2'" type="button" class="btn btn-primary btn-lg" (click)="gotoUploadSolution(task.id)">Upload en ansøgning</button>
        <button *ngIf="!student && task.workPlace === '2'" type="button" class="btn btn-primary btn-lg" routerLink="/login">Log ind for at uploade ansøgning</button>
    </div>

    <div style="display:flex;justify-content:center;margin: 30px 0;" *ngIf="!(task.deadline > now)">
        <p class="deadline-past">Deadlinen for opgaven er udløbet</p>
    </div>

   <div class="detail-content">
       <div class="detail-business-info">
           <div class="business-sidebar">
               <div class="business-sidebar-top" *ngIf="business.logoUrl">
                   <img class="business-logo" [src]="business.logoUrl" />
               </div>
               <div class="business-sidebar-bot">
                   <p class="business-name">{{ business.name }}</p>
                   <p class="business-address">{{ business.address }}, {{ business.zip }} {{ business.city }}</p>
               </div>
           </div>
           <div class="business-description-box">
               <div class="business-description-box-top">
                   <p class="business-description-box-title">Virksomhedsbeskrivelse</p>
               </div>
               <div class="business-description-box-bot">
                   <p class="business-description" [innerHTML]="business.description | formattext"></p>
               </div>
           </div>        
       </div>
       <div class="detail-task-info">
           <h2 class="task-title">{{ task.title }}</h2>
           <p class="task-type">{{ task.type }}</p>

           <div class="task-info">
               <div *ngIf="task.workPlace">
                   <p class="task-workplace">Opgavens type: <b>{{ task.workPlace === "2" ? "Ansøgning" : "Løsningsforslag" }}</b></p>
                   <p class="task-deadline" *ngIf="task.workPlace === '2'">Frist for ansøgning: <b>{{ getDeadlineString() }}</b></p>
                   <p class="task-deadline" *ngIf="task.workPlace === '1'">Frist for løsningsforslag: <b>{{ getDeadlineString() }}</b></p>
                </div>
               <!--<p *ngIf="task.workPlace === '2'">Udarbejdelsen af opgaven kommer til at finde sted på: {{ task.address }}, {{ task.zip }} {{ task.city }}</p>-->
               <p class="task-reward" style="font-size:14px;" *ngIf="task.rewardType">
                   Belønning ved bedste løsningsforslag:
                   <span *ngIf="task.rewardType === 'Honorar'"><i class="fa fa-money"></i></span>
                   <span *ngIf="task.rewardType === 'Gave'"><i class="fa fa-gift"></i></span>
                   <span *ngIf="task.rewardType === 'Anbefaling'"><i class="fa fa-file-text-o"></i></span>
                   <span *ngIf="task.rewardType === 'Timeløn'"><i class="fa fa-clock-o"></i></span>
                   <span><b *ngIf="task.rewardType === 'Honorar' || task.rewardType === 'Gave'">{{ task.rewardValue | danishcurrency }} kr</b></span>
                   <span><b *ngIf="task.rewardType === 'Timeløn'">{{ task.rewardValue | danishcurrency }} kr / t</b></span>
                   <span><b *ngIf="task.rewardType === 'Anbefaling'">Anbefaling</b></span>
               </p>
           </div>
           <div *ngIf="task.description">
               <h3 class="task-info-title">Opgavebeskrivelse</h3>
               <p class="task-description" [innerHTML]="task.description | formattext"></p>
           </div>

           <h3 class="task-info-title" *ngIf="attachments">Tilknyttede filer</h3>
           <div class="uploaded-files" *ngIf="attachments">
               <div style="display:flex;" *ngFor="let a of attachments">
                   <a class="file-pill" href="{{a.uri}}" tooltip="Download filen" placement="bottom" style="cursor: pointer;">
                       <div class="file-pill-text">
                           <p>{{a.fileName}}</p>
                       </div>
                       <div class="file-pill-icon" >
                           <i class="fa fa-download"></i>
                       </div>
                   </a>
                   
               </div>
           </div>


           
       </div>
   </div>
    <div style="display:flex;justify-content:center;margin-top:5px;">
        <p style="font-size:12px;font-style:italic;color:#BDBDBD;">Unifacto står udelukkende for kontakten mellem den studerende og virksomheden. Virksomheden står selv for udleveringen af belønningen.</p>
    </div>
</div>

