.detail-content {
    display: flex;   
    min-height:500px;
}

.detail-business-info {
    flex: 0 0 33%;
    padding: 0 15px;
    background-color: #FAFAFA;
}

.detail-task-info {
    flex: 0 0 67%;
    padding: 0 15px;
    background-color: #FDFDFD;
}

.business-name {
    font-size: 150%;
    display:inline-block;
    border-bottom: 2px solid #336699;
}

.business-logo {
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.business-address {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
}

.business-description {
}

.business-email {

}

.task-title {
    font-size: 150%;
    display: inline-block;
    border-bottom: 2px solid #336699;
    margin-bottom: 0;
}

.task-type {

    color: #9E9E9E;
}

.task-description {

}

.task-contactDescription {

}

.task-info-title {
    font-size: 100% !important;
    display: inline-block;
}

.task-info {
    display: flex;
    flex-wrap: wrap;
}

.task-workplace {
    flex: 0 0 100%;
}

.task-persons {
    flex: 0 0 100%;
}

.task-deadline {
    flex: 0 0 100%;
}

.task-reward {
    flex: 0 0 100%;
}

