<div class="container-fluid contentRow" *ngIf="task && business">
   <div class="detail-content">
       <div class="detail-business-info">
           <h2 class="business-name">{{ business.name }}</h2>
           <img class="business-logo" src="../../../dist/assets/dizy-cow-free-logo.f71d602dad15de2ff4bb3240265b7084.jpg" />
           <p class="business-address">{{ business.address }}, {{ business.zip }} {{ business.city }}</p>
           <p class="business-description">{{ business.description }}</p>
       </div>
       <div class="detail-task-info">
           <h2 class="task-title">{{ task.title }}</h2>
           <p class="task-type">- {{ task.type }}</p>

           <div class="task-info">
               <p class="task-workplace">Løsningen udarbejdes: <b>{{ task.workPlace === "2" ? "Hos virksomheden" : "Hjemme" }}</b></p>
               <p class="task-deadline" *ngIf="task.workPlace === '2'">Frist for ansøgning: <b>{{ getDeadlineString() }}</b></p>
               <p class="task-deadline" *ngIf="task.workPlace === '1'">Frist for løsningsforslag: <b>{{ getDeadlineString() }}</b></p>
               <p class="task-reward" style="font-size:14px;">
                   Belønning ved bedste løsningsforslag:
                   <span *ngIf="task.rewardType === 'Honorar'"><i class="fa fa-gift"></i></span>
                   <span *ngIf="task.rewardType === 'Gave'"><i class="fa fa-usd"></i></span>
                   <span *ngIf="task.rewardType === 'Anbefaling'"><i class="fa fa-file-text-o"></i></span>
                   <span><b *ngIf="task.rewardType === 'Honorar' || task.rewardType === 'Gave'">{{ task.rewardValue }}</b></span>
                   <span><b *ngIf="task.rewardType === 'Anbefaling'">Anbefaling</b></span>
               </p>
           </div>

           <h3 class="task-info-title">Opgave beskrivelse</h3>
           <p class="task-description">{{ task.description }}</p>

           <h3 class="task-info-title" *ngIf="task.workPlace === '2'">Ansøgnings information</h3>
           <h3 class="task-info-title" *ngIf="task.workPlace === '1'">Aflevering af løsningsforslag</h3>
           <p class="task-contactDescription">{{ task.contactDescription }}</p>
           <p *ngIf="task.workPlace === '2'">Udarbejdelsen af løsningsforslaget kommer til at finde sted på: {{ task.address }}, {{ task.zip }} {{ task.city }}</p>

           
           
       </div>
   </div>
</div>

