.detail-content {
    display: flex;   
    min-height:500px;
    margin: 20px 0;
}

.detail-business-info {
    flex: 0 0 33%;
    padding: 0 15px;
}

.detail-task-info {
    flex: 0 0 67%;
    padding: 15px;
    border: 1px solid #E0E0E0;
}

.business-sidebar {
    border: 1px solid #E0E0E0;
}

.business-sidebar-top {
    padding: 5px;
}

.business-sidebar-bot {
    background-color: #757575;
    padding: 5px;
    color: white;
}

.business-logo {
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.business-name {
    font-size: 120%;
    text-align: center;
    margin: 0;
}

.business-address {
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    margin: 0;
}

.business-description-box {
    margin-top: 10px;
    border: 1px solid #E0E0E0;
}

.business-description-box-top {
    background-color: #006699;
    padding: 10px;
    color: white;
}

.business-description-box-title {
    margin: 0;
    font-size: 110%;
    padding: 5px;
}

.business-description-box-bot {
    padding: 10px;
    font-size: 14px;
}

.business-description {
}


.task-title {
    font-size: 250%;
    display: inline-block;
    margin: 0;
}

.task-type {
    color: #9E9E9E;
    font-size: 110%;
}

.task-description {
    font-size: 14px;
}

.task-contactDescription {
    font-size: 14px;
}

.task-info-title {
    font-size: 100% !important;
    display: inline-block;
}

.task-info {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
}

.task-workplace {
    flex: 0 0 100%;
}

.task-deadline {
    flex: 0 0 100%;
}

.task-reward {
    flex: 0 0 100%;
}

@media only screen and (max-width : 767px) {
    .detail-content {
        display: flex;
        flex-direction: column-reverse;
        min-height: 500px;
    }

    .detail-business-info {
        margin-top: 20px;
        flex: 0 0 100%;
        padding: 0;
    }

    .detail-task-info {
        flex: 0 0 100%;
    }
}