<div class="container-fluid contentRow" *ngIf="task && business">
   <div class="detail-content">
       <div class="detail-business-info">
           <h2 id="business-name">{{ business.name }}</h2>
           <img id="business-logo" src="../../../dist/assets/dizy-cow-free-logo.f71d602dad15de2ff4bb3240265b7084.jpg" />
           <p id="business-description">{{ business.description }}</p>
           <p id="business-email">Hvis du ønsker at blive sat i forbindelse med denne opgave, kan du kontakte {{ business.name }} på deres mail: <b>{{ business.contactEmail }}</b></p>
       </div>
       <div class="detail-job-info">
           <h2 id="job-title">{{ task.title }}</h2>
           <p id="job-type">- {{ task.type }}</p>
           <p id="job-description">{{ task.description }}</p>
           <p id="job-location">Adressen for opgaven, hvis nogen angivet</p>
           <h3 id="job-info-title">Opgave information</h3>
           <div class="job-info">
               <p id="job-workplace">Du har muligheden for at arbejde: <b>{{ task.workPlace === "2" ? "Ude" : "Hjemme" }}</b></p>
               <p id="job-deadline">Opgaven har deadline om: <b>{{ getDeadlineString() }}</b></p>
               <p id="job-reward">Belønning ved fuldført arbejde: <span><i class="fa fa-gift"></i></span> <b>{{ task.rewardValue }}</b></p>
           </div>
       </div>
   </div>
</div>