nav.navbar-findcond ul.navbar-nav a.active,
nav.navbar-findcond ul.navbar-nav a:hover {
    background: #9a1e1e;
    border-color: #fff;
    -webkit-transition: border-color 0.7s;
    transition: border-color 0.7s;
}

.navbar-right li a {
    border-bottom: 3px solid #f8f8f8;
    padding-top: 23.5px;
}

.navbar-right li a:active,
.navbar-right li a:hover {
    border-color: orange;
    -webkit-transition: border-color 0.7s;
    transition: border-color 0.7s;
}