<div class="navbar navbar-custom navbar-fixed-top">
    <div class="container-fluid contentRow">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header" *ngIf="showBurgerMenu">
            <a class="navbar-brand" style="margin-top:5px;" routerLink="/">
                <img src="../../../../wwwroot/assets/images/logo-hvid-fill.png"/>
                <span class="beta-text">Beta</span>
                <!--<span>Unifacto</span>-->
            </a>
            <a class="burgermenu" (click)="toggleSideMenu()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    <div *ngIf="!showBurgerMenu">
        <div class="navbar-header">
            <a class="navbar-brand" style="margin-top:5px;" routerLink="/">
                <img src="../../../../wwwroot/assets/images/logo-hvid-fill.png" />
                <span class="beta-text">Beta</span>
                <!--<span>Unifacto</span>-->
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
                <li><a routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}" routerLink="/tasks">Opgaver</a></li>
                <li><a routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}" routerLink="/about">Om os</a></li>
                <li><a routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}" routerLink="/contact">Kontakt</a></li>
                <li class="dropdown" dropdown>
                    <a dropdownToggle class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Hvordan <span class="caret"></span></a>
                    <ul *dropdownMenu class="dropdown-menu" role="menu">
                        <li><a routerLink="/how-it-works-students">For studerende</a></li>
                        <li><a routerLink="/how-it-works-businesses">For virksomheder</a></li>
                        <li><a routerLink="/faq">FAQ</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">

                <li dropdown *ngIf="business" class="dropdown">
                    <a dropdownToggle class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{business.name}} <span class="caret"></span></a>
                    <ul *dropdownMenu class="dropdown-menu" role="menu">
                        <li><a routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}" routerLink="/business">Mine opgaver</a></li>
                        <li><a routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}" routerLink="business/settings">Ret oplysninger</a></li>
                        <!--<li class="divider" style="margin:5px 0;"></li>-->
                        <li><a style="cursor:pointer" (click)="logout()"><i class="fa fa-sign-out"></i> Log ud</a></li>
                    </ul>
                </li>
                <li dropdown *ngIf="isAdmin" class="dropdown">
                    <a dropdownToggle class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Unifacto Administrator<span class="caret"></span></a>
                    <ul *dropdownMenu class="dropdown-menu" role="menu">
                        <li><a routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}" routerLink="/admin/businesses">Administrator panel</a></li>
                        <!--<li class="divider" style="margin:5px 0;"></li>-->
                        <li><a style="cursor:pointer" (click)="logout()"><i class="fa fa-sign-out"></i> Log ud</a></li>
                    </ul>
                </li>
                <li *ngIf="!business && !student && !isAdmin"><a routerLink="/login">Log ind</a></li>
            </ul>
            <ul *ngIf="student" class="nav navbar-nav navbar-right nav-student">
                <li dropdown *ngIf="student" class="dropdown">
                    <a dropdownToggle class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><img [src]="getUserImage()" class="student-img" /> {{student.firstname}} {{student.lastname}} <span class="caret"></span></a>
                    <ul *dropdownMenu class="dropdown-menu nav-student-dropdown" role="menu">
                        <li><a routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}" routerLink="/student">Mine uploads</a></li>
                        <li><a routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}" routerLink="/student/settings">Ret oplysninger</a></li>
                        <li><a style="cursor:pointer" (click)="logout()"><i class="fa fa-sign-out"></i> Log ud</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>

    </div><!-- /.container-fluid -->
</div>

    <div class="accept-terms" *ngIf="student && !student.termsAccepted">
        <div class="terms-card">
            <p>Inden du kan kan bruge Unifacto og begynde at besvare opgaver, skal du acceptere Unifactos brugerbetingelser. Hvis du ikke finder brugerbetingelserne acceptable, kan du logge ud og evt. tage kontakt til os på info@unifacto.com.</p>
            <div class="terms-container">
                <p class="tc-title">Når du opretter en bruger som studerende accepterer du følgende brugerbetingelser:</p>
                <p class="tc-header">Generelle betingelser:</p>
                <ul>
                    <li>Når du tilmelder dig accepterer du at modtage e-mails fra Unifacto og kan til enhver tid afmeldes.</li>
                </ul>
                <p class="tc-header">Dataindsamling:</p>
                <ul>
                    <li>Når du opretter en profil på Unifacto accepterer du, at dine personlige oplysninger vil blive lagret på Unifactos servere.</li>
                    <li>Dine oplysninger behandles fortroligt og videregives ikke til en tredjemand uden din personlige accept.</li>
                    <li>Unifacto indhenter din e-mail når du opretter dig som burger.</li>
                    <li>Unifacto bruger cookies. Denne formalitet sikrer, at Unifacto husker din adgang til webstedet, derudover bruger vi cookies til statistik og webanalyse, så vi kan forbedre din brugeroplevelse og målrette indholdet til dine behov og interesser. Du kan deaktivere denne indstilling i internetbrowseren.</li>
                    <li>Hver gang du besøger Unifacto vil din IP-adresse blive registreret.</li>
                </ul>
                <p class="tc-header">Ansøgningsopgaver:</p>
                <ul>
                    <li>Unifacto står udelukkende for kontakten mellem den studerende og virksomheden. Derfor fralægger vi os ansvaret for udlevering af belønning.</li>
                    <li>Unifacto er ikke ansvarlig for at virksomheden lever op til det der er beskrevet i opgavebeskrivelsen.</li>
                    <li>Hvis der indgås en ansættelsesaftale mellem virksomheden og den studerende, er Unifacto ikke en del af ansættelsesforholdet og har ingen forpligtelser af ansættelsesret karakter.</li>
                    <li>Unifacto er ikke ansvarlig for ansættelsesvilkårene eller virksomhedens overholdelse deraf.</li>
                </ul>
                <p class="tc-header">Forslagsopgaver:</p>
                <ul>
                    <li>Unifacto står udelukkende for kontakten mellem den studerende og virksomheden. Derfor fralægger vi os ansvaret for udlevering af belønning.</li>
                    <li>Unifacto er ikke ansvarlig for at virksomheden lever op til det der er beskrevet i opgavebeskrivelsen.</li>
                    <li>Efter at du har uploadet løsningsforslaget har du ikke længere rettigheden for løsningsforslaget.</li>
                </ul>
            </div>
            <div class="terms-card-buttons">
                <button type="button" class="btn btn-success btn-lg" (click)="acceptTerms()"><i class="fa fa-check"></i> Accepter</button>
                <button type="button" class="btn btn-danger btn-lg" (click)="logout()"><i class="fa fa-sign-out"></i> Log ud</button>
            </div>
        </div>
    </div>
