.navbar {
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.4);
}

nav.navbar-findcond ul.navbar-nav a.active,
nav.navbar-findcond ul.navbar-nav a:hover {
    background: #082a3b;
    -webkit-transition: background-color 0.7s;
    transition: background-color 0.7s;
}

.navbar-right li,
.navbar-left li {
    cursor: pointer;
}


.navbar-right li a,
.navbar-left li a {
    padding-top: 20.5px;
    color: white;
}

.navbar-right li a:active,
.navbar-right li a:hover,
.navbar-left li a:active,
.navbar-left li a:hover {
    background-color: #005580;
}

.navbar-toggle .icon-bar {
    background-color: white;
}

.dropdown-menu > li > a {
    padding: 15px 15px;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #005580;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #005580;
}

.active-link {
    background-color: #005580 !important;
}

.navbar-custom .navbar-nav > .open > a, .navbar-custom .navbar-nav > .open > a:hover, .navbar-custom .navbar-nav > .open > a:focus {
    background-color: #005580;
    -webkit-transition: border-color 0.7s;
    transition: border-color 0.7s;
}

.navbar-custom {
    background-color: #006699;
    color: #fff;
}

.navbar-nav > li > .dropdown-menu {
    padding: 0;
    background-color: #006699;
}

.navbar-nav > li > a:focus {
    background-color: #006699;
}

.navbar-brand {
    color: white;
}