<div class="team-header">
    <div class="contentRow">
        <h1 class="team-title">Holdet bag Unifacto</h1>
    </div>
</div>
<div class="team-content">
    <div class="container-fluid contentRow">
        <div class="row">
            <div class="col-sm-3 col-xs-6 team-person">
                <div class="team-person-img"></div>
                <p class="team-person-name"></p>
                <p class="team-person-role"></p>
            </div>
            <div class="col-sm-3 col-xs-6 team-person">
                <div class="team-person-img"></div>
                <p class="team-person-name"></p>
                <p class="team-person-role"></p>
            </div>
            <div class="col-sm-3 col-xs-6 team-person">
                <div class="team-person-img"></div>
                <p class="team-person-name"></p>
                <p class="team-person-role"></p>
            </div>
            <div class="col-sm-3 col-xs-6 team-person">
                <div class="team-person-img"></div>
                <p class="team-person-name"></p>
                <p class="team-person-role"></p>    
            </div>
        </div>
    </div>
</div>