<div class="team-header">
    <div class="contentRow">
        <h1 class="team-title">Holdet bag Unifacto</h1>
    </div>
</div>
<div class="team-content">
    <div class="team-persons contentRow">
        <div class="team-person">
            <div class="team-person-img">
                <img src="../../../wwwroot/assets/images/dizy-cow-free-logo.jpg" />
            </div>
            <p class="team-person-name">Kristian Kraack </p>
            <p class="team-person-role">Head of Finance - Founder</p>
        </div>
        <div class="team-person">
            <div class="team-person-img">
                <img src="../../../wwwroot/assets/images/dizy-cow-free-logo.jpg" />
            </div>
            <p class="team-person-name">Kenneth Brogaard</p>
            <p class="team-person-role">Head of Development - Co Founder</p>
        </div>
        <div class="team-person">
            <div class="team-person-img">
                <img src="../../../wwwroot/assets/images/dizy-cow-free-logo.jpg" />
            </div>
            <p class="team-person-name">Mads Bak</p>
            <p class="team-person-role">Head of Marketing and Sales – Bull boi</p>
        </div>
        <div class="team-person">
            <div class="team-person-img">
                <img src="../../../wwwroot/assets/images/dizy-cow-free-logo.jpg" />
            </div>
            <p class="team-person-name">Billie Libæk</p>
            <p class="team-person-role">Administration Manager</p>
        </div>
        <div class="team-person">
            <div class="team-person-img">
                <img src="../../../wwwroot/assets/images/dizy-cow-free-logo.jpg" />
            </div>
            <p class="team-person-name">Frederik Lund </p>
            <p class="team-person-role">Software developer – Le chef </p>
        </div>
        <div class="team-person">
            <div class="team-person-img">
                <img src="../../../wwwroot/assets/images/dizy-cow-free-logo.jpg" />
            </div>
            <p class="team-person-name">Søren Lyng</p>
            <p class="team-person-role">Software developer – Delivery boi</p>
        </div>
    </div>
</div>