<div class="contact-header">
    <div class="contentRow">
        <h1 class="contact-title">Kan vi hjælpe dig?</h1>
        <p class="contact-subtitle">Kontakt os fra Unifacto</p>
    </div>
</div>

<div class="contact-content">
    <div class="container-fluid contentRow">
        <div class="row">
            <div class="contact-text">
                <p>Vi er klar til at lede dig ind på fremtidens konsulentplatform for studerende og virksomheder.</p>
                <p>Vi hos Unifacto er altid klar til at besvare dine forespørgsler og spørgsmål. Hvad end du søger information eller support, så bestræber vi os på at svare hurtigst muligt.</p>
            </div>
            <div class="contact-us">
                <h2>Kontakt os</h2>
                <p>Mobil: 72 69 15 59</p>
                <p>Email:  info@unifacto.com</p>
            </div>
        </div>
    </div>
</div>
