<div class="container-fluid contentRow">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 panel panel-default" style="margin-top:50px;">
            <div class="panel-body">
                <form novalidate (ngSubmit)="onSubmit()" #f="ngForm">
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="form-group"
                             [ngClass]="{
                            'has-error': password.invalid && (password.dirty || password.touched),
                            'has-success': password.valid && (password.dirty || password.touched)
                        }">
                            <label for="password" class="control-label">Ny Adgangskode</label>
                            <input type="password"
                                   class="form-control"
                                   id="password"
                                   name="password"
                                   [(ngModel)]="newPassword"
                                   pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,}$"
                                   required
                                   #password="ngModel">
                            <div class="form-feedback"
                                 *ngIf="password.errors && (password.dirty || password.touched)">
                                <p *ngIf="password.errors.required">Adgangskode skal sættes</p>
                                <p *ngIf="password.errors.pattern">Kodeordet skal være minimum 8 tegn og indeholde et tal og et stort bogstav</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 text-center">
                        <button type="submit" class="btn btn-primary btn" [disabled]="f.invalid">Ændre Adgangskode</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>