.flexbox-nonewline {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
}

.flexbox-newline {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
}

.flexitem {
    margin-right: 25px;
    font-size: 16px;
}

.form-feedback {
    color: #e51c23;
    font-size: 14px;
}

.dp-box {
    align-self: center;
    display: flex;
    justify-content: center;
}

.tp-box {
    display: flex;
    justify-content: center;
    margin-left: 20px;
    align-items: center;
    flex-direction: column;
    margin-top: 5px;
}

.datetime-container {
    display: flex;
}

@media only screen and (max-width : 700px) {
    .datetime-container {
        display: block;
    }
}