.flexbox-nonewline {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
}

.flexbox-newline {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
}

.flexitem {
    margin-right: 25px;
    font-size: 16px;
}

.form-feedback {
    color: #e51c23;
    font-size: 14px;
}

.dp-box {
    align-self: center;
    display: flex;
    justify-content: center;
}

.tp-box {
    display: flex;
    justify-content: center;
    margin-left: 20px;
    align-items: center;
    flex-direction: column;
    margin-top: 5px;
}

.datetime-container {
    display: flex;
}

.uploaded-files {
    display: flex;
}

.file-pill {
    padding: 5px 5px 5px 15px;
    display: flex;
    height: 30px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    margin-right: 10px;
}

.file-pill-text {
    font-size: 16px;
    display: inline-block;
}

.file-pill-text p {
    margin: 0;
}

.file-pill-icon {
    width: 30px;
    display: inline-block;
    text-align: center;
    padding: 4px;
    transition: transform ease 0.5s;
}

.file-pill-icon:hover {
    color: #D32F2F;
    transform: rotateZ(-90deg);
}

@media only screen and (max-width : 700px) {
    .datetime-container {
        display: block;
    }
}