<div class="container-fluid">
    <div class="row">
        <div class="text-center card-box">
            <div class="card-logo">
                <img src="../../../../../wwwroot/assets/images/dizy-cow-free-logo.jpg" />
            </div>
            <div class="card-titel">
                <h3>{{job.title}}</h3>
                <p>{{job.jobType}}</p>
            </div>
            <div class="card-firm">
                <h4>{{job.businessName}}</h4>
            </div>
            <div  class="card-location">
                <p>
                    <span><i class="fa fa-map-marker"></i></span>
                    Aalborg C, 9000, Nordjylland
                </p>
            </div>
            <div class="flexbox-nonewline">
                <div class="flexitem card-workplace">
                    <p>{{job.workPlace === "2" ? "ude" : "hjemme"}}</p>
                </div>
                <div class="flexitem card-workform">
                    <p>{{job.minNumOfPersons}} - {{job.maxNumOfPersons}} personer</p>
                </div>
            </div>
            <div class="flexbox-nonewline">
                <div class="flexitem card-deadline">
                    <p >{{getDeadlineString()}}</p>
                </div>
                <div class="flexitem card-price">
                    <p>
                        <span><i class="fa fa-gift"></i></span>
                        {{job.rewardValue}}
                    </p>
                </div>
            </div>            
            <div class="flexbox-nonewline" *ngIf="showEdit">
                <div class="flexitem">
                    <button type="button" class="card-btn btn btn-primary"><i class="fa fa-pencil"></i>Redigér</button>
                </div>
                <div class="flexitem">
                    <button type="button" class="card-btn btn btn-danger"><i class="fa fa-trash-o"></i>Slet</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--
<div class="container-fluid">
    <div class="card">
        <div class="logo-container">
            <img src="../../../../../wwwroot/assets/images/dizy-cow-free-logo.jpg" />
        </div>
        <div class="info-container">

        </div>
    </div>
   
</div>-->


