
<div class="container-fluid contentRow" style="padding:0;">
    <div class="row">
        <form class="form-content">
            <div class="col-xs-12 task-control-bar">
                <div class="col-sm-8 col-xs-12 task-search">
                    <input type="search" [(ngModel)]="filterValues.search" [ngModelOptions]="{standalone: true}" (ngModelChange)="filter()" class="task-search-input" placeholder="Søg..." />

                    <button class="btn-default btn-filter" type="button" data-toggle="collapse" data-target="#filterbox" aria-expanded="false" aria-controls="filterbox">
                        <i class="fa fa-caret-down fa"></i>
                    </button>

                    <button class="btn-primary btn-search"><i class="fa fa-search fa-lg"></i></button>
                </div>
                <div class="col-sm-4 col-xs-12 task-sort">
                    <select class="form-control task-sort-select" (change)="sort($event.target.value)">
                        <option>Dato tilføjet</option>
                        <option>Deadline</option>
                        <option>Værdi af belønning</option>
                    </select>
                </div>

            </div>
            <div class="col-xs-12" style="padding-left:0;padding-right:0;">
                <div class="collapse" id="filterbox">
                    <div class="col-xs-12 filterbox-content">
                        <div class="col-sm-6 col-xs-12" style="padding:0;">
                            <h4>Job type</h4>
                            <div class="form-group flexbox-newline">
                                <div class="checkbox flexitem" *ngFor="let type of types">
                                    <label><input (change)="typeFilter(type, $event.target.checked)" type="checkbox"/>{{type}}</label>
                                </div>
                            </div>
                            
                        </div>
                            <div class="col-sm-3 col-xs-6" style="padding:0;">
                                <h4>Præmie type</h4>
                                <div class="form-group flexbox-column">
                                    <div class="checkbox" *ngFor="let rType of rewardTypes">
                                        <label><input (change)="rewardTypeFilter(rType, $event.target.checked)" type="checkbox" id="foo">{{rType}}</label>
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-3 col-xs-6" style="padding:0;">
                                <h4>Arbejds sted</h4>
                                <div class="form-group flexbox-column">
                                    <div class="checkbox" *ngFor="let place of workPlaces">
                                        <label><input (change)="workPlaceFilter(place, $event.target.checked)" type="checkbox" id="foo">{{place}}</label>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <task-list [tasks]="tasksToShow"></task-list>
</div>