@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Lato:100,200,300,700,300italic");
@import url("../../../../wwwroot/assets/font-awesome/css/font-awesome.css");
/* ------------------------------- */
/* ----- Global CSS Classes ----- */
/* -------------------------------- */
html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Roboto', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.contentRow {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}


/* ----- Headers ----- */
h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 200px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px;
}

/* ---- Paragraphs ----- */
.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}
