<div class="container-fluid contentRow" style="padding:0;">
    <div class="bm-header">
        <h1 class="heading1">Mine Jobs</h1>
        <button class="btn btn-primary btn-lg btn-new" routerLink="/business/createeditjob">
            <i class="fa fa-plus"></i> Nyt Job
        </button>
    </div>
    <job-list [showEdit]="true" [jobs]="jobs" (deleteJob)="handleDeleteJob($event)" (editJob)="handleEditJob($event)"></job-list>
    <!--<button class="fab btn-fab">
        <span class="fa fa-plus btn-fab-icon"></span>
    </button>-->
    
    <!--<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
    <button (click)="popToast()">pop toast</button>-->
</div>
<spinner *ngIf="loading" [size]="100" [tickness]="10" [color]="'#337ab7'"></spinner>
<div *ngIf="loading" class="loading-background"></div>