<div class="container-fluid contentRow" style="padding:0;">
    <h1 class="heading1">Mine Jobs</h1>
    <job-list [showEdit]="true" [jobs]="jobs" (deleteJob)="handleDeleteJob($event)"></job-list>
    <!--<button class="fab btn-fab">
        <span class="fa fa-plus btn-fab-icon"></span>
    </button>-->
    <button class="btn btn-warning btn-lg btn-fab" routerLink="/business/createeditjob">
        <i class="fa fa-plus"></i> Nyt Job
    </button>
    
    <button class="btn btn-danger" (click)="getInfo()">Get info</button>
    <button class="btn btn-primary" (click)="logout()">Log ud</button>
    <!--<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
    <button (click)="popToast()">pop toast</button>-->
</div>
<spinner *ngIf="loading" [size]="100" [tickness]="10" [color]="'#337ab7'"></spinner>
<div *ngIf="loading" class="loading-background"></div>